@font-face { font-family: Open Sans; src: url(../fonts/OpenSans.ttf);}

body { font-family: "Open Sans"; padding-top: 50px;}

/* TEXT FORMATING */

.align-right { text-align: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }
.footer-text { font-size: 12px; }

/* header formating */
.header { background: #273643; border-bottom: 1px solid #222324; padding:0px !important}
.navbar-nav li:hover a { background: #2c6e98 !important;}
.sidebar { background: #668caf !important; font-size: 13px; color: #FFFFFF;}
.navbar-brand { padding: 5px 1px 1px 10px !important;}


/* nav formating */
.newnav .active a { background: #455d74 !important; color: #FFFFFF !important; border-left: 4px solid #273643;}
.newnav li .active { background: #455d74 !important; color: #FFFFFF !important; border-left: 4px solid #273643;}
.user_level_display { font-size: 12px; padding-top: 0px;}
.user_name_display { padding: 0px; margin: 0px; font-weight: 600; padding-bottom: 5px;}
.user_avatar { width: 45px; height: 45px;}
.white-link { color: #FFFFFF; }
.white-link:hover { color: #DCE8E8; text-decoration: none;}
.newnav a { color: #FFFFFF !important; border-left: 4px solid #668caf;}
.newnav a:hover { background: #455d74 !important; color: #FFFFFF !important; border-left: 4px solid #273643;}
.newnav a:focus { background: #455d74 !important; color: #FFFFFF !important; border-left: 4px solid #273643;}

/* main formating */
.db-header { border-bottom: 1px solid #d3d3d3; margin-bottom: 10px; padding-bottom: 1px;}
.db-header-title { font-size: 18px; float: left;}
.page-header-title { font-size: 24px; float: left;}
.db-header-extra { float: right; padding: 5px;  }

.dashboard-window { background: #62acec; width: 100%; padding: 20px; color: #FFF; border-radius: 4px;}
.d-w-icon { width: 30%; float: left; margin-right: 5px;}
.d-w-text { width: 65%; float: left; font-size: 13px; }
.d-w-text-maximum { width: 100%; float: left; font-size: 13px; }
.giant-white-icon { font-size: 48px; color: #FFF;}
.d-w-num { font-size: 38px; color: #FFF; vertical-align: top; line-height: 100%; }

.table-header { font-weight: 600; background: #f0f0f0; }

.modal-open {
  overflow-y: scroll;
}

.modal
{
    overflow-y: auto;
}