@font-face { font-family: Open Sans; src: url(../fonts/OpenSans.ttf);}

body { font-family: "Open Sans"; padding-top: 50px;}

/* TEXT FORMATING */

.align-right { text-align: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }
.footer-text { font-size: 11px; }

/* header formating */
.header { background: #273643; border-bottom: 1px solid #222324; padding:0px !important}
.navbar-nav li:hover a { background: #2c6e98 !important;}
.sidebar { background: #668caf !important; font-size: 13px; color: #FFFFFF;}
.navbar-brand { padding: 15px 0px 0px 15px; vertical-align:middle !important; }

/* nav formating */
.newnav .active a { background: #455d74 !important; color: #FFFFFF !important; border-left: 4px solid #273643;}
.newnav li .active { background: #455d74 !important; color: #FFFFFF !important; border-left: 4px solid #273643;}
.user_level_display { font-size: 12px; padding-top: 0px;}
.user_name_display { padding: 0px; margin: 0px; font-weight: bold; padding-bottom: 5px;}
.user_avatar { width: 95px; height: 95px; border-radius: 4px; border: 1px solid #000000; }
.white-link { color: #FFFFFF; }
.white-link:hover { color: #DCE8E8; text-decoration: none;}
.newnav a { color: #FFFFFF !important; border-left: 4px solid #668caf;}
.newnav a:hover { background: #455d74 !important; color: #FFFFFF !important; border-left: 4px solid #273643;}
.newnav a:focus { background: #455d74 !important; color: #FFFFFF !important; border-left: 4px solid #273643;}

/* main formating */
.db-header { border-bottom: 1px solid #d3d3d3; margin-bottom: 10px; padding-bottom: 1px;}
.db-header-title { font-size: 18px; float: left;}
.page-header-title { font-size: 24px; float: left;}
.db-header-extra { float: right; padding: 5px;  }

.dashboard-window { width: 100%; padding: 20px; color: #FFF; border-radius: 4px;}
.d-w-icon { width: 30%; float: left; margin-right: 5px;}
.d-w-text { width: 65%; float: left; font-size: 13px; }
.d-w-text-maximum { width: 100%; float: left; font-size: 13px; }
.giant-white-icon { font-size: 48px; color: #FFF;}
.d-w-num { font-size: 38px; color: #FFF; vertical-align: top; line-height: 100%; }

/* table */
.table-header { font-weight: bold; background: #f0f0f0; }
td:first-child { font-weight: bold; }

/* modal */
.modal-open { overflow-y: scroll; }
.modal { overflow-y: auto; }

.profile-user { background: #273643; height: 200px; border-radius: 4px 4px 0px 0px; padding-top: 30px; color: #FFFFFF; text-align:center; }
.profile-info { background: #668caf; min-height: 150px; border-radius: 0px 0px 4px 4px; padding: 10px;}
.profile-info-label1 { font-weight: bold; color: #E1E7F6; }
.profile-info-label2 { text-align: right; font-weight: bold; color: #E1E7F6; }
.profile-info-content1 { font-weight: bold; color: #FFFFFF; }
.profile-info-content2 { text-align: right; font-weight: bold; color: #FFFFFF; }
.table-profile-user { width: 100%; }
.table-profile { width: 100%; }
.table-profile td { padding: 8px;}
.table-profile tr { border-top: 1px solid #719CC4;}
.table-assessment { width: 100%; padding: 10px; }

.div-darkblue { background: #273643; border-left: 5px solid #1d2832; }
.div-blue { background: #668caf; border-left: 5px solid #476988; }

/* chart */
.chart { width:100%; height:300px; }
.invisibleChart {height: 0px; background-color: white}
svg text { fill: white; }


/* toast */
#toast-container>div{ margin:0 0 6px;
                     padding:15px 15px 15px 50px;
                     width:300px;
                     -moz-border-radius:3px;
                     -webkit-border-radius:3px;
                     border-radius:3px;
                     background-position:15px center;
                     background-repeat:no-repeat;
                     -moz-box-shadow:0 0 12px #000;
                     -webkit-box-shadow:0 0 12px #000;
                     box-shadow:0 0 12px #000;
                     color:#fff;
                     opacity:.8;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
                     filter:alpha(opacity=80)}

.legend { z-index: 10; position: fixed; right: 10px; top: 40%; background:#668caf; color:white; font-size:10px; padding:10px ;}
.notification { background:#668caf; color:white; font-size:12px; padding:10px ;}