<style>
    @font-face {
        font-family: 'BorisBlackBloxx';
        src: url('fonts/BorisBlackBloxx.ttf') format('truetype');
    }
</style>
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4 col-xs-11 col-sm-8 col-sm-offset-2" style="margin-top:1%">
            <div class="create col-xs-offset-4 col-md-7 col-md-pull-1 col-xs-5" style="margin-top:1%">
                <img src="../images/mistral4.png" class="img img-responsive" />
                <br />
                <br />
            </div>
            <br />

                <div class="panel panel-default" style="box-shadow: 8px 8px 100px #2E455C;">
                    <div class="panel-heading">
                        <h1 style="font-family:BorisBlackBloxx; font-size:x-large; color:#60B72C; text-align:center" class="col-md-offset-0">
                            welcome. please log in.
                        </h1>
                        <br />
                        <br />


                            <div class="row">
                                <form class="form-group" ng-submit="login(); tokenRequest()">
                                    <div class="control-label col-md-2"><b>Username:</b></div>
                                    <div class="col-md-9">
                                        <input class="form-control col-md-offset-2" type="text" ng-model="user.name">
                                    </div>
                                    </form>
                            </div>

                            <div class="row">
                                <form class="form-group" ng-submit="login(); tokenRequest()">
                                    <div class="control-label col-md-2"><b>Password:</b></div>
                                    <div class="col-md-9">
                                        <input class="form-control col-md-offset-2" type="password" ng-model="user.pass">
                                        <br />
                                    </div>
                                    <div class="col-md-6 col-md-push-0 col-xs-6 control-label" style="color:#2E455C"><input type="checkbox" ng-model="user.remember" /><b>Remember me</b></div>
                                </form>

                                <div class="text" ng-show="!wait"></div>
                                <div class="text" ng-show="!wait"></div>

                                <div class="text col-md-2 col-md-push-3" ng-show="wait"><img src="images/loading.gif" /></div>
                            </div>
                        <br />

                        <div class="row social-login">                            
                            <div class="col-md-9 col-md-push-1 col-xs-push-1 col-sm-push-3">                                
                                <input type="button" class="btn" id="loginBtn" style="background-color:#60B72C; color:white" value="Login" ng-click="login(); tokenRequest()" />
                                <span type="button" id="googleBtn"><i class="fa fa-google-plus fa-lg"></i>   log in with Google</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>