html,body{
	height: 100%;
    width: 100%;

}

html,a{
    color: white;
}

#mainDiv{
        width: 100%;
        height: 100%;
        display: inline-block;
}


#navbar{
	background-color: #0099FF;
	border-style: none;
	height: 60px;
	position: fixed-top;
	
}

#navbar-side{
	background-color: #0099FF;
	width: 100%;
	height: 100%;
	background: #0099FF;
    min-width: 100px;
	
	}

#nav-side{
	background-color: #0099FF;
	width: 100%;
	height: 100%;
	position: fixed-top;
    min-width: 100px;


}

#navbarCollapse{
    background-color: #0099FF;
    color: white;
}

.container1{
	height: 100%;
	
	
	background-color: #0099FF;
    width: 15%;
    margin-top: 60px;
    float: left;


}


#logo{
	height: 50px;
	margin-top: -10px;

	
}

#form1{
	width: 400px;
	height: 400px;
	margin-left: 20%;
}
#form2{
	width: 400px;
	height: 400px;
	margin-left: 20%;
}

#link{
	color: white;
}

#login{
	color: white;
}

#signup{
	color: white;
}

.container{
	width: 100%;
	height: 100%;
}

#irma-button{
    color: white;
    background-color: #0099FF;
    border: none;
    border-color: #0099FF;
}

#irma1{
    margin-left: 20px;
}