@{
    //Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WorkforceRoster</title>
</head>
<body>
    <h1>@ViewBag.Title</h1>
    <h1>Welcome to GigiSchool</h1>
</body>
</html>
