@model ReservationSystem.Models.EventModel
@{
    ViewBag.Title = "Rooms";
}

<h2>Rooms</h2>

<div>

    <div class="form-group">
        <div class="control-label col-md-2">Resources</div>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Resource, ViewBag.ResourceList as IEnumerable<SelectListItem>, new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">User</div>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Person, ViewBag.PeopleList as IEnumerable<SelectListItem>, new { @class = "form-control" })
        </div>
    </div>
</div>