@model IEnumerable<SkillsLibrary.Models.SkillCategoryModel>

@{
    ViewBag.Title = "Skills";
}

<div class="db-header clearfix">
    <div class="page-header-title"><span class="glyphicon glyphicon-cog"></span> Skills</div>
    <div class="db-header-extra">
    <input type="button" class="btn btn-primary btn-sm" value="Add New Category" data-toggle="modal">&nbsp;
    <input type="button" class="btn btn-primary btn-sm" value="Add New Skill" data-toggle="modal"></div>
</div>

<div id="content">

    <br>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel-group panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#@item.Id">
                            <span class="glyphicon glyphicon-chevron-down"></span>  @item.Name
                        </a>
                        <a style="float:right" href="EditCategory">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </h4>
                </div>
                <div id="@item.Id" class="panel-collapse collapse">
                    <div class="panel-body">
                        @foreach (var tool in item.Tools)
                        {
                            <div>@tool.Name</div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
</div>
