header{
	background-color: #3475CD;
	position: absolute;
	width: 100%;
	height: 50px;
}

.container-top {
	padding-top: 60px;
	position: 50px;
}

.navbar-default {
	border: 0px;   
	border-style: none;
	box-shadow: none;                                              
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	background-color: #3475CD;
	border-style:none;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-brand, .navbar-nav>li>a {
    text-shadow: 0 0px 0 #337ab7;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #3475CD;
}

.bs-example-navbar-collapse-1 .collapse .navbar-collapse {
	border: none;
}

#logo{
	height: 50px;
}

.dropdown .dropdown-menu{
	border: none;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}

.notice-rooms {
    border-color: #45ABCD;
	background-color: #f4f8fa;
}
.notice-rooms>strong {
    color: #45ABCD;
}
.notice-devices {
    border-color: #FEAF20;
	background-color: #fcf8f2;
}
.notice-devices>strong {
    color: #FEAF20;
}

#welcome-title{
	text-align: center;
	color: #3475CD;
}

.filterBtns{
    margin-left:30%;
    margin-right:30%;
    margin-bottom:10px;
    width:40%;
    height:40px;
}

 .filterBtns .btn {
    border-radius:0px;
    width:42%;
    height:100%;
    background-color:#3475CD;
    color:white;
   
}


 .dayName{
	text-align:center;
	justify-content: center;
	align-items: center; 
	background-color:transparent;
	color:white;
    display:inline-block;
    float:left;
    width:20%;
    height:100%;
    border:solid 1px white;
 }
 
 .tableContainer{
    float:left;
    width:100%;
    height:auto;
    display:table;
 }
 
 .roomName{
    display:inline-block;
    float:left;
    background-color:deeppink;
    width:20%;
    height:100%;
    border:solid 1px white;
    text-align:center;
	justify-content: center;
	align-items: center; 
	background-color:#d6e2f5;
	color:#3475CD;
 }
 
 .timeSpan{
    display:inline-block;
    float:left;
    width:10%;
    height:100%;
    background-color:transparent;
    border:solid 1px white;
    text-align:left;
    padding-left:2px;
    color:#3475CD;
 }
 
 .row1{
    display:inline-block;
    float:left;
    width:100%;
    display:table;  
    background-color:transparent;
	
 }
 
 .cell1{
    display:inline-block;
    float:left;
    max-width:2.5%;
    min-width:2.5%;
    height:100%;
    background-color:transparent;
    border: 1px solid #e0e0d1;
    overflow:no-content;
 }
 

.titleContainer{
    margin-bottom:20px;
    margin-left:27%;
    width:40%;
}
.busy{
   background-color:#ff3333;
}
.dateInfoContainer{
    margin-left:30%;
    margin-right:36%;
    margin-bottom:10px;
    width:auto;
    height:60px;
   
    
}
.glyphicon-chevron-left {
    font-size:50px;
    padding-top:5px;
    color:#3475CD;
    width:10%;
    margin-right:20%;
    height:100%;
    float:left;
}

.dateInfo{
    float:left;
    width:40%;
    height:100%;
    font-size:25px;
    padding-bottom:10px;
    padding-top:10px;
    text-align:center;
    color:#3475CD;
}
.glyphicon-chevron-right{
    font-size:50px;
    padding-top:5px;
    color:#3475CD;
    width:10%;
    margin-left:18%;
    height:100%;
 
}
 
.popover-align{
	display:inline-block;
	margin-right:25px;
}

.modal-body{
	height:150px;
}

.alert{
	display: none;
}
