@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Resource Reservation System</h1>
    <p>During everyday activities each team needs to communicate with clients. Since we all work in open space, we need conference rooms for this purpose. So it would be nice to have some reservation system.
    </p>
    <p>
        Also, QA engineers need test devices (tablets, phones…). It is not very smart to provide full set of test devices for each team, because they will use it short time during test process. Again, it would be nice to have another reservation system.
    </p>
    <p>
        This module should manage resource categories and resources. Users have to be able to review status of the resources, and eventually reserve those resources for some time in the future.
    </p>
</div>

<div class="row">
    <h2>Team Members</h2>
    <div class="col-md-4">
        <h4>Haris Brackovic</h4>
    </div>
    <div class="col-md-4">
        <h4>Irhad Ljubcic</h4>
    </div>
    <div class="col-md-4">
        <h4>Martina Vistica</h4>
    </div>
</div>