<div ng-controller="UserDashboardController" >  
<h2 id="welcome-title"> Active reservations </h2>
    <br>
    <div class="row">
        <div ng-repeat="item in dashboard.activeReservations">
            <div  class="col-xs-6 col-sm-6 col-md-3">
                <div ng-show="!item.isExtended" class="thumbnail">
                    <img ng-if="item.categoryName=='Device'" src="images/devices.png">
                    <img ng-if="item.categoryName=='Room'" src="images/confRoom.png">
                    <div class="caption">
                        <h4>{{item.eventTitle}} </h4>
                        <p>
                            {{item.resourceName}}
                        </p>
                        <p>
                            <i class="glyphicon glyphicon-calendar"> </i>  {{item.startDate}}
                        </p>
                        <p>
                            <i class="glyphicon glyphicon-time"> </i>  {{item.time}}
                        </p>
                        <p>
                            <i class="glyphicon glyphicon-remove remove" ng-click="cancelReservation(item)"></i>
                          | <i class="glyphicon glyphicon-pencil edit" ng-click="editReservation(item)"></i>
                            <button style="float:right" class ="btn btn-info btn-sm" ng-click="extendReservation(item)">Extend</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>