<div ng-controller="UserDashboardController" >  
<h2 id="welcome-title"> Active reservations </h2>
    <br>
    <div class="row">
        <div ng-repeat="item in dashboard.activeReservations">
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img ng-if="item.categoryName=='Device'" src="images/devices.png">
                    <img ng-if="item.categoryName=='Room'" src="images/confRoom.png">
                    <div class="caption">
                        <h4>{{item.resourceName}} </h4>
                        <p>
                            <i class="glyphicon glyphicon-calendar"> </i>  {{item.startDate}}
                        </p>
                        <p>
                            <i class="glyphicon glyphicon-time"> </i>  {{item.time}}
                        </p>
                        <p>
                            <button class="btn btn-danger btn-sm" ng-click="cancelReservation(item)">Cancel</button>
                            <button class ="btn btn-info btn-sm"   ng-click="extendReservation(item)">Extend</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>