<!DOCTYPE html>
<html ng-app="school">

<head>
    <script src="../library/angular.min.js"></script>
    <script src="../scripts/controllers/userDashboardController.js"></script>
    <script src="../scripts/services/userDashboardService.js"></script>
    <link rel="stylesheet" href="../styles/style.css" />
</head>

<body>
    <div ng-controller="UserDashboardController">
        <h1>{{ message }}</h1>
        <div ng-repeat="item in dashboard.activeReservations">
            <div class="panel-active">
                <h3>{{item.resourceName}}</h3>
                <p>{{item.startDate}}</p>
                <p>{{item.time}}</p>
                
            </div>
        </div>
    </div>
</body>
</html>