<form id="requesttable_irma" name="requestForm">
    <div class="container-fluid" data-ng-init="addAsset">
        <div class="row">
            <div class="col-lg-12">

                <div class="col-lg-4">
                    <div class="container4"  id="form1">
                        <hr />
                        <h3 class="irmatitle">Add new asset</h3>

                        <div class="form-group">
                            <br>
                            <div class="text">
                                <label for="exampleInputEmail1">Category*</label>
                                <select class="form-control" id="sel"   ng-change="setCategory()" ng-model="selectedCategory" >
                                   <option ng-repeat="deviceCategory in deviceCategories" value="{{deviceCategory}}">{{deviceCategory.categoryName}}</option>
                                       </select>
                            

                            <!--<label for="exampleInputEmail1">Characteristics*</label>
                            <select class="form-control" id="sel" ng-model="selectedChar"
                                    ng-options="characteristic as characteristic.name for characteristic in assetNames" required></select>
                          </div>-->


                            <!--<select class="form-control" id="sel" ng-model="selectedChar"
                                    ng-options="characteristic as characteristic.name for characteristics in deviceCategories.assetCharacteristicNames" required></select>-->
                          
                            <!--<label for="number">Type</label></br>
                            <div class="text"><input type="text" ng-model="request.assetType" disabled></div>-->
                        </div>
                        
                        <div class="form-group">
                            <label for="exampleInputPassword1">Model*</label>
                            <textarea class="form-control" rows="1" id="comment" ng-model="item.model"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Name*</label>
                            <textarea class="form-control" rows="1" id="comment" ng-model="item.name"></textarea>

                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Vendor*</label>
                            <textarea class="form-control" rows="1" id="comment" ng-model="item.vendor"></textarea>
                        </div>


                        <div class="form-group">
                            <label for="exampleInputPassword1">Serial Number*</label>                     
                            <textarea class="form-control" rows="1" id="comment" ng-model="item.serialNumber"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Price*</label>
                            <input type="number" name="currency" min="0" max="9999" step="0.01" size="4" class="form-control" rows="1" id="comment" ng-model="item.price" />

                        </div>
                       
                        <button type="submit" class="btn btn-primary" value="Send" ng-click="saveData(item)">Submit</button>

                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
    </div>
</form>