<form id="requesttable_irma" name="requestForm">
    <div class="container-fluid" data-ng-init="addAsset">
        <div class="row">
            <div class="col-lg-12">

                <div class="col-lg-4">
                    <div class="container4" id="form1">
                        <hr />
                        <h3 class="irmatitle">Add new asset</h3>

                        <div class="form-group">
                            <br>
                            

                            <div class="text">
                                <label for="exampleInputEmail1">Category*</label>
                                <select class="form-control" id="sel" ng-change="setCategory()" ng-model="selectedCategory"
                                        ng-options="category as category.categoryName for category in devicecategories" required></select>
                            </div>

                            <!--<!--<label for="exampleInputEmail1">Characteristics*</label>
                            <select class="form-control" id="sel" ng-model="selectedChar"
                                    ng-options="characteristic as characteristic.name for characteristic in selectedCategory.assetCharacteristicNames" required></select>
                        </div>-->


                      

                            <div class="form-group">
                                <label for="exampleInputPassword1">Model*</label>
                                <textarea class="form-control" rows="1" id="comment" ng-model="asset.model"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Name*</label>
                                <textarea class="form-control" rows="1" id="comment" ng-model="asset.name"></textarea>

                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1">Vendor*</label>
                                <textarea class="form-control" rows="1" id="comment" ng-model="asset.vendor"></textarea>
                            </div>


                            <div class="form-group">
                                <label for="exampleInputPassword1">Serial Number*</label>
                                <textarea class="form-control" rows="1" id="comment" ng-model="asset.serialNumber"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Price*</label>
                                <input type="number" name="currency" min="0" max="9999" step="0.01" size="4" class="form-control" rows="1" id="comment" ng-model="asset.price" />

                            </div>

                            <button type="submit" class="btn btn-primary" value="Send" ng-click="saveData()">Submit</button>

                        </div>

                        <hr />
                        <div class="form-group">

                            <div ng-repeat="item in selectedCategory.assetCharacteristicNames">
                                <label>{{ item.name }}</label>
                                <textarea class="form-control" rows="1" id="comment" ng-model="value"></textarea>
                            </div>

                            
                            <button type="submit" class="btn btn-primary" value="Send" ng-click="addChars()">Submit</button>
                        </div>

                        

                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
    </div>
</form>