
    <div class="container-fluid">
        <div class="row">
            <div  class="col-lg-12">
                <h1 class="page-header">Welcome, admin</h1>
                
                    <h4> You have <span class="badge">{{dashboard.countEquipmentRequests}}</span> <a href="#/requests">requests </a>for <span class="label label-primary">new</span> equipment</h4>
                    <hr>
                    <h4> You have <span class="badge">{{dashboard.countServiceRequests}}</span><a href="#/servicerequests"> requests</a> for <span class="label label-warning">service</span> </h4>
                    <hr>
                    <h4><span class="badge">{{dashboard.countOutOfOrderAssets}}</span> <a href="Taken.html">requests</a> have been approved </h4>

</div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
