<!--<!--<div id="daymodal" class="modal fade" role="dialog">
    <div ng-include="'views/daymodal.html'"></div>
</div>-->

<!--<modal-dialog show='modalShow' width='750px' height='90%'>
    modal content
</modal-dialog>-->
<div class="unos form-horizontal">
    <div class="row">
        <div class="row">
        </div>
        <br />

        <div class="row col-md-offset-5 col-xs-offset-0 col-md-4 col-xs-11">
            <form action="#" class="credit-card-div col-xs-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row ">
                            <div class="col-md-12">
                                <span class="help-block text-muted small-font"> Date</span>
                                <p class="input-group">
                                    <input type="text" class="form-control" ng-model="detail.date" ng-required="true" />

                                </p>
                                <!--<span class="help-block text-muted small-font"> Date</span>
                                <input class="form-control" type="date" placeholder="Date" ng-model="detail.date" />-->
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="help-block text-muted small-font"> Work Time</span>
                                <input class="form-control" type="text" placeholder="Work Time" ng-model="detail.workTime">
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <span class="help-block text-muted small-font">  Description</span>
                                <input class="form-control" type="text" placeholder="Description" ng-model="detail.description">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <span class="help-block text-muted small-font">  Team</span>
                                <select class="form-control" ng-model="detail.team" placeholder="Team"
                                        ng-options="team.id as team.name for team in teams"></select>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <img class="glyphicon glyphicon-calendar" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                <input type="submit" class="btn btn-warning btn-block" value="Save data" ng-click="saveData();" />
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<style>
    .full button span {
        border-radius: 32px;
        color: black;
    }

    .partially button span {
        border-radius: 32px;
        color: black;
    }
</style>

<!--<div class="container col-md-8 col-md-offset-3">
    <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>
    <div>
    <div style="display:inline-block; min-height:290px">
        <uib-datepicker data-toggle="modal" data-target="#calendarModal" ng-model="dt" class="well well-sm" datepicker-options="options" ng-click="newDetail()"></uib-datepicker>
    </div>
    <hr />
    <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
    <button type="button" class="btn btn-sm btn-default" ng-click="setDate(2009, 7, 24)">2009-08-24</button>
    <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
    <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" uib-tooltip="After today restriction">Min date</button>
    </div>
    </div>

    <div id="calendarModal" class="modal fade" role="dialog" style="top:10%">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body">
            <form action="#" class="credit-card-div">
                <div class="panel panel-default" style="box-shadow: 8px 8px 100px #2E455C;">
                    <div class="panel-heading">
                        <div class="row ">
                            <div class="col-md-12">
                                <span class="help-block text-muted small-font"> Date</span>
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup ng-model="detail.date" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn col-md-pull-4">
                                        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="help-block text-muted small-font"> Work Time</span>
                                <input class="form-control" type="text" placeholder="Work Time" ng-model="detail.workTime">
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <span class="help-block text-muted small-font">  Description</span>
                                <input class="form-control" type="text" placeholder="Description" ng-model="detail.description">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <span class="help-block text-muted small-font">  Team</span>
                                <select class="form-control" ng-model="detail.team" placeholder="Team"
                                        ng-options="team.id as team.name for team in teams"></select>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <img class="glyphicon glyphicon-calendar" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust col-md-push-4">
                                <input type="button" class="btn btn-success" value="New input" ng-click="newDetail()" />
                            </div>
                            <div class="col-md-5 col-sm-6 col-xs-6 pad-adjust col-md-offset-1">
                                <input type="submit" class="btn btn-info btn-block" value="Save data" ng-click="saveData(); $location.path('/details');" />
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>-->


<!--<div class="row col-md-offset-5 col-xs-offset-0 col-md-4 col-xs-11">
    <form action="#" class="credit-card-div col-xs-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row ">
                    <div class="col-md-12">
                        <span class="help-block text-muted small-font"> Date</span>
                        <p class="input-group">
                            <input type="text" class="form-control" ng-model="detail.date" ng-required="true" />

                        </p>-->
                        <!--<span class="help-block text-muted small-font"> Date</span>
                        <input class="form-control" type="date" placeholder="Date" ng-model="detail.date" />
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <span class="help-block text-muted small-font"> Work Time</span>
                        <input class="form-control" type="text" placeholder="Work Time" ng-model="detail.workTime">
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <span class="help-block text-muted small-font">  Description</span>
                        <input class="form-control" type="text" placeholder="Description" ng-model="detail.description">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <span class="help-block text-muted small-font">  Team</span>
                        <select class="form-control" ng-model="detail.team" placeholder="Team"
                                ng-options="team.id as team.name for team in teams"></select>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <img class="glyphicon glyphicon-calendar" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                        <input type="submit" class="btn btn-warning btn-block" value="Save data" ng-click="saveData();" />
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>-->

<pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>
<div ng-repeat="item in details | orderBy: sortOrder | filter: selDetail | filter: { date: dt.Date}">
    <table class="table table-bordered">
        <tr><td width="30%"><a href="#/details" ng-click="transfer(item)">{{ item.description }}</a> </td><td width="30%"> {{ item.date }}</td><td width="20%" style="color:#F2AE75; font-size:medium"> <b>{{item.workTime}}</b></td><td width="20%"> {{item.teamName}}</td></tr>
    </table>
</div>
<div class="date-picker" ng-controller="ModalController">
    <uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options" ng-change="toggleModal()"></uib-datepicker>
    <button ng-click="toggleModal()">otvori modal</button>
    <!--<a href="" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#daymodal"></a>-->
</div>
<hr />-->
