<div class="date-picker" ng-controller="ModalController">
    <uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options" ng-click="toggleModal(dt); newDetail()"></uib-datepicker>
    <!--<a href="" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#daymodal"></a>-->
    <modal-dialog show='modalShow' width='750px' height='90%'>
        <div class="day-modal-content">
            <div class="row">
                <span>Date : {{selectedDate | date:'dd MMMM yyyy'}}</span>
            </div>
            <hr />
            <div class="row">
                <div class="form-group">
                    <label>Description:</label>
                    <input type="text" class="form-control" placeholder="Description" ng-model="detail.description">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>Work Time:</label>
                    <input type="text" class="form-control" placeholder="Work Time" ng-model="detail.workTime">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="sel1">Team:</label>
                    <select class="form-control" ng-model="detail.team" placeholder="Team" ng-options="team.id as team.name for team in teams"></select>
                </div>
            </div>
            <div class="row">
                <input type="submit" class="btn btn-warning btn-block" value="Save data" ng-click="saveData(selectedDate);toggleModal()" />
            </div>
            <hr />
            <!--<div ng-repeat="item in details | filter: selectedDate ">
                <table class="table table-bordered">
                    <tr><td width="30%"><a href="#/details" ng-click="transfer(item)">{{ item.description }}</a> </td><td width="30%"> {{ item.date }}</td><td width="20%" style="color:#F2AE75; font-size:medium"> <b>{{item.workTime}}</b></td><td width="20%"> {{item.teamName}}</td></tr>
                </table>
            </div>-->
        </div>
    </modal-dialog>
</div>

<hr />
<div id="showmenu">See details</div>
<div class="menu" style="display: none;">
    <div ng-repeat="item in details | orderBy: sortOrder | filter: selDetail | filter: { date: dt.Date}">
        <table class="table table-bordered">
            <tr><td width="30%"><a href="#/details" ng-click="transfer(item)">{{ item.description }}</a> </td><td width="30%"> {{ item.date }}</td><td width="20%" style="color:#F2AE75; font-size:medium"> <b>{{item.workTime}}</b></td><td width="20%"> {{item.teamName}}</td></tr>
        </table>
    </div>
</div>