<script type="text/ng-template" id="toasterBodyTmpl.html">
    <p>Render a default template!</p>
</script>

<script type="text/ng-template" id="myTemplate.html">
    <span>You have {{dayL}} days left</span>
</script>
<div class="row">
    <div class="create col-xs-offset-4 col-md-offset-6 col-md-3 col-xs-5" style="margin-top:-10%">
        <img src="../images/Mlogo1.png" class="img-responsive" width="280" height="280" />
    </div>
</div>

<toaster-container toaster-options="{'time-out': 6000, 'close-button':true, 'position-class':'toast-bottom-right'}"></toaster-container>
<div class="date-picker" ng-controller="ModalController">
    <div id="calendar" style="margin-top:-15%; box-shadow: 8px 8px 100px #2E455C;">
        <uib-datepicker ng-model="dt" datepicker-options="options" ng-click="toggleModal(dt); newDetail()"></uib-datepicker>
    </div>

    <modal-dialog show='modalShow' class="col-md-offset-0 col-xs-offset-0 col-md-4 col-xs-11 col-md-pull-0" style="top:-500px">
        <div class="day-modal-content">
            <div class="unos form-horizontal">
                <div class="row">
                    <div class="credit-card-div col-xs-offset-1">
                        <div class="panel panel-default" style="box-shadow: 8px 8px 100px #2E455C;">
                            <div class="panel-heading">
                                <div class="row" style="color:#37ADE7; height:50px; vertical-align:central">
                                    <span>Date : {{selectedDate | date:'dd MMMM yyyy'}}</span>
                                </div>
                                <div class="row ">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <span class="help-block text-muted small-font" style="color:#2E455C; margin-left: -68px;"><b> Work Time</b></span>
                                        <input class="form-control" type="text" placeholder="Work Time" ng-model="detail.workTime">
                                    </div>
                                    <div class="col-md-7 col-sm-7 col-xs-6 col-xs-push-1">
                                        <span class="help-block text-muted small-font" style="color:#2E455C; margin-left: -174px;"><b>  Description</b></span>
                                        <input class="form-control" type="text" placeholder="Description" ng-model="detail.description">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <span class="help-block text-muted small-font" style="color:#2E455C; margin-left: -176px;"><b>  Team</b></span>
                                        <select class="form-control" ng-model="detail.team" placeholder="Team"
                                                ng-options="team.id as team.name for team in teams"></select>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <img class="glyphicon glyphicon-calendar" />
                                    </div>
                                </div>
                                <br />

                                <div class="row">
                                    <div class="col-md-5 col-sm-6 col-xs-6 pad-adjust col-md-offset-7">
                                        <input type="submit" class="btn btn-info btn-block" value="Save data" ng-click="saveData(selectedDate)" />
                                    </div>
                                </div>
                                <hr />
                                <div ng-repeat="item in details | filter : $scope.selectedDate ">
                                    <table class="table table-bordered">
                                        <tr><td width="30%"><a href="#/details" ng-click="transfer(item)">{{ item.description }}</a> </td><td width="30%"> {{ item.date | date:shortDate}}</td><td width="20%" style="color:#F2AE75; font-size:medium"> <b>{{item.workTime}}</b></td><td width="20%"> {{item.teamName}}</td><td width="20%"><button ng-click="transfer(item); deleteData();">Delete</button>  </td></tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </modal-dialog>
</div>

