<script type="text/ng-template" id="myTemplate.html">
    <span>You have {{left}} days left</span>
</script>

<script type="text/ng-template" id="scroll.html">
    <span>The deadline for entering data for previous month has passed. You cannot scroll back!</span>
</script>

<script type="text/ng-template" id="upozorenje.html">
    <span>This is the last day to complete your time logs. Deadline expires today!</span>
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-3 col-xs-12" style="margin-top:-11%; position:sticky; left:-1%; top:10px">
            <span class="col-xs-push-1" style="box-shadow: 8px 8px 100px #2E455C">
                <span><button class="{{class}} btn col-md-2 col-xs-3" ng-model="tooltip" style="border-top: hidden; background-color:#4e4e51; color:white; border-bottom:hidden;" value="Previous" ng-click="previous()">Previous</button></span>
                <span class="btn col-md-8 col-xs-6" style="border-top: hidden; border-bottom:hidden; background-color:#4e4e51;  color:white; border-color: white" ng-click="thisMonth()"> {{mont | monthName}}, {{year}} </span>
                <button class="slijedeci btn col-md-2 col-xs-3" value="Next" ng-click="next()" style="border-top: hidden; color:white; background-color:#4e4e51; border-bottom:hidden;">Next</button>
            </span>
            <br />
            <br />
            <div ng-repeat="item in mjesec.lista" style="margin:0">
                <div><span class="weekdays">Mon</span><span class="weekdays">Tue</span><span class="weekdays">Wen</span><span class="weekdays">Thu</span><span class="weekdays">Fri</span><span class="weekdays">Sat</span><span class="weekdays">Sun</span></div>

                <div class="mjesec">
                    <div ng-repeat="s in item.skip">
                        <div class="skip">
                        </div>
                    </div>
                    <div ng-repeat="d in item.days">
                        <div id="dan" class="{{d.class}} dan" data-toggle="modal" data-target="#detModal" ng-click="newDetail(); transfer(d.day)">
                            <span>{{d.day}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--ENTER NEW DATA MODAL-->
    <div class="container">
        <div class="row">
            <div id="detModal" class="modal fade" role="dialog" style="top:0%">
                <div class="modal-dialog">
                    <div class="modal-body">
                        <div class="panel panel-default" style="box-shadow: 8px 8px 100px #2E455C;">
                            <div class="panel-heading">
                                <div class="row" style="color:#5BC0DE; font-size:26px; height:50px; text-align:center; vertical-align:central">                                   
                                    <span class="fa fa-angle-double-left fa-lg" style="cursor:pointer; color:#4e4e51" ng-click="previousD()"></span>
                                    <span ng-click="today(); thisMonth();" style="cursor:pointer; color:#60B72C">Date : {{detail.date | date:'dd MMMM yyyy'}}</span>
                                    <span class="fa fa-angle-double-right fa-lg" style="cursor:pointer; color:#4e4e51" ng-click="nextD()"></span>
                                </div>
                                <div class="row ">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <span class="help-block text-muted small-font"> Work Time</span>
                                        <input class="form-control" type="text" placeholder="Work Time" ng-model="detail.workTime">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <span class="help-block text-muted small-font">  Description</span>
                                        <input class="form-control" type="text" placeholder="Description" ng-model="detail.description">
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <span class="help-block text-muted small-font">  Team</span>
                                        <select class="form-control" ng-model="detail.team" placeholder="Team"
                                                ng-options="team.id as team.name for team in teams"></select>
                                    </div>                                    
                                </div>
                                <br />

                                <div class="row">
                                    <div class="col-md-5 col-sm-6 col-xs-6 pad-adjust col-md-offset-7">
                                        <input style="background-color:#60B72C; color:white" type="submit" class="btn btn-block" value="Save data" ng-click="saveData(); fetchDataByDay(d);" data-dismiss="modal" />
                                    </div>
                                </div>
                                <hr />

                                <div ng-repeat="item in dayDetails">
                                    <div ng-repeat="detail in item.details">
                                        <table class="table table-bordered">
                                            <tr>
                                                <td width="60%">{{ detail.description }}</td>
                                                <td width="30%"> {{ detail.date | date:shortDate}}</td>
                                                <td width="10%" style="color:#60B72C; font-size:medium"><b>{{detail.workTime}}</b></td>
                                                <td width="20%"> {{detail.teamName}}</td>
                                                <td width="10%"><span value="Delete" class="glyphicon glyphicon-trash" style="color:#60B72C; cursor:pointer; text-align:center;" ng-click="transfer1(detail); deleteData();"></span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <toaster-container toaster-options="{'time-out': 6000, 'close-button':true, 'position-class':'toast-bottom-right', 'limit':1}"></toaster-container>
</div>

