
    <!--<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Cancel Request</h4>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <p class="text-center" style="font:bold 18px arial, verdana">
                    Are you sure you want to cancel this request?<br><br>
                    <label></label>
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-danger" ng-click="yes()">Yes</button>
    </div>-->
 

    <!-- Modal content-->
  <div class="modal-content col-sm-offset-2 col-sm-8" id="irmaModal">
    <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">Cancel Request</h4>
        <hr />
    </div>
    <div>
        <div class="form-horizontal">
            <div class="form-group">
                <p class="text-center" style="font:18px arial, verdana">
                    Are you sure you want to cancel this request?<br><br>
                    <label></label>
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="cancel()">No</button>
        <button type="button" class="btn btn-danger" ng-click="yes()">Yes</button>
    </div>
      </div>




