
<!--<div class="panel" ng-show="modal">
    <div permission="admin">
        <input type="button" class="btn btn-danger" value="Save data" ng-click="saveData()" />
        <input type="button" value="New person" ng-click="newPerson()" />
        <input type="button" value="Delete" ng-click="deleteData()" />
        <hr>
    </div>
        <div class="label">Date:</div>
        <div class="text"><input type="date" ng-model="detail.date" /></div>
        <div class="label">Person:</div>
        <div class="text">
            <select ng-model="detail.person"
                    ng-options="person.id as person.firstName + ' ' + person.lastName for person in people"></select>
        </div>
        <div class="label">Work time:</div>
        <div class="text"><input type="text" ng-model="detail.workTime"></div>
        <div class="label">Description:</div>
        <div class="text"><input type="text" ng-model="detail.description"></div>
        <div class="label">Team id:</div>
        <div class="text">
            <select ng-model="detail.team"
                    ng-options="team.id as team.name for team in teams"></select>
        </div>-->
<div class="form-horizontal">
    <div class="row">
        <div class="container-fluid col-xs-offset-4 col-xs-12 col-md-12">
            <div class="row">
                <div class="create col-xs-offset-1 col-sm-4">
                    <a href="index.html#/createdetail"><img src="../images/mistral4.jpg" width="280" height="280" /></a>
                </div>
            </div>
            <div class="panel">
                Filter: <input type="search" ng-model="selDetail">
                Order: <select ng-model="sortOrder">
                    <option value="+personName">Person</option>
                    <option value="+description">Description</option>
                    <option value="-date">Date</option>
                </select>
                <div ng-repeat="item in details | orderBy: sortOrder | filter: selDetail">
                    <hr>
                    <table class="table table-bordered">
                        <tr><td><a href="#/details" ng-click="transfer(item)">{{ item.personName }}</a> </td><td> <i>{{ item.date }} </i></td><td><b> {{ item.description }} </b></td><td><span style="color:red; font-size: medium"> {{item.workTime}}</span></td><td> {{item.teamName}}</td></tr>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>



