  <style>
        .label {
            float: left;
            text-align: right;
            width: 45%;
            margin: 6px;
        }

        .text {
            float: left;
            width: 45%;
            margin: 6px;
        }

        .panel {
            width: 30%;
            float: left;
            margin: 6px;
            padding: 10px;
            border: 1px solid black;
        }
    </style>
    
        <div class="panel">
            <div>
                <input type="button" value="Save data" ng-click="saveData()" />
                <input type="button" value="New detail" ng-click="newDetail()" />
                <input type="button" value="Delete" ng-click="deleteData()" />
                <hr>
            </div>
            <div class="label">Date:</div>
            <div class="text"><input type="date" ng-model="detail.date"/></div>
            <div class="label">Person:</div>
            <div class="text">
                <select ng-model="detail.person"
                        ng-options="person.id as person.firstName + ' ' + person.lastName for person in people"></select>
            </div>
            <div class="label">Work time:</div>
            <div class="text"><input type="text" ng-model="detail.workTime"></div>
            <div class="label">Description:</div>
            <div class="text"><input type="text" ng-model="detail.description"></div>
            <div class="label">Team id:</div>
            <div class="text">
                <select ng-model="detail.team"
                        ng-options="team.id as team.name for team in teams"></select>
            </div>
        </div>
        <div class="panel panel-default"">
            Filter: <input type="search" ng-model="selDetail">
            Order: <select ng-model="sortOrder">
                <option value="+personName">Person</option>
                <option value="+description">Description</option>
                <option value="-date">Date</option>
            </select>
            <div ng-repeat="item in details | orderBy: sortOrder | filter: selDetail">
                <hr>
                <table class="table table-bordered">
                <tr><td><a href="#/details" ng-click="transfer(item)">{{ item.personName }}</a> </td><td> {{ item.date }} </td><td> {{ item.description }} </td><td> {{item.workTime}}</td><td> {{item.teamName}}</td></tr>
                </table>
            </div>
        </div>

 
