<script>
    $('#editModal').modal('hide');
    $('body').removeClass('modal-open');
    $('.modal-backdrop').remove();
</script>

<div class="unos form-horizontal">
    <div class="container">
        <div class="row">
            <div class="create col-xs-offset-4 col-md-offset-6 col-md-3 col-xs-5" style="margin-top:-5%">
                <img src="../images/Mlogo1.png" class="img-responsive" width="280" height="280" />
            </div>
        </div>
        <br />

        <div class="row">
            <div action="#" class="credit-card-div col-md-offset-2 col-xs-offset-0 col-md-10 col-xs-12">
                <div class="panel panel-default" style="box-shadow: 8px 8px 100px #2E455C;">
                    <div class="panel-heading">
                        <div class="row ">
                            <!--<div class="container-fluid ">-->
                            <div class="col-xs-12">
                                <span class="form-group col-xs-10">
                                    <b>Filter:</b> <input class="input-sm" type="search" ng-model="selDetail">
                                    <!--<b>Order:</b> <select class="input-sm" ng-model="sortOrder">
                                        <option value="+description">Description</option>
                                        <option value="-date">Date</option>
                                    </select>-->
                                    <a ng-click="selDetail='Day Off'" class="label label-primary">DAYS OFF</a>
                                    <a ng-click="selDetail=''" class="label label-success">CLEAR FILTER</a>
                                </span>

                                <div>
                                    <br />
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="30%">Description</th>
                                                <th width="30%">Date</th>
                                                <th width="15%">Work Time</th>
                                                <th width="20%">Team</th>
                                                <th width="20%">Delete</th>
                                            </tr>
                                    </table>
                                </div>

                                <div ng-repeat="item in details ">
                                    <table class="table table-bordered">
                                        <tr><td width="30%"><a href="#/details" style="color:#4B627A"><b data-toggle="modal" data-target="#editModal" ng-click="transfer(item)">{{ item.description }}</b></a> </td><td width="30%"> {{ item.date | date:shortDate }}</td><td width="15%" style="color:#37ADE7; font-size:medium"> <b>{{item.workTime}}</b></td><td width="20%"> {{item.teamName}}</td><td><button type="button" value="Delete" class="glyphicon glyphicon-trash" style="color:red" ng-click="transfer(item); deleteData();"></button></td></tr>
                                    </table>
                                </div>

                                <div class="row">
                                    <div class="col-md-3 col-md-offset-5">
                                        <div>
                                            <ul class="pagination">
                                                <li ng-class="{ active : page == currentPage + 1 }" ng-click="changePage(page)" ng-repeat="page in pages"><a>{{page}}</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-md-offset-1">
                                        <div class="form-inline">
                                            <select ng-change="fetchDetails()" ng-model="pageSize" class="form-control"
                                                    ng-options="pageSize as pageSize for pageSize in pageSizes"></select>
                                            <span>per page</span>
                                        </div>
                                    </div>
                                </div>

                                <!--<div ng-repeat="item in details | filter: detailsPerPage" total-items="detailsPerPage" current-page="pagination.current">
                                    <table>
                                        <tr><td width="30%"><a href="#/details" style="color:#4B627A"><b data-toggle="modal" data-target="#editModal" ng-click="transfer(item)">{{ item.description }}</b></a> </td><td width="30%"> {{ item.date | date:shortDate }}</td><td width="15%" style="color:#37ADE7; font-size:medium"> <b>{{item.workTime}}</b></td><td width="20%"> {{item.teamName}}</td><td><button type="button" value="Delete" class="glyphicon glyphicon-trash" style="color:red" ng-click="transfer(item); deleteData();"></button></td></tr>
                                    </table>
                                </div>

                                <pagination on-page-change="pageChanged(newPageNumber)"></pagination>-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--</div>-->


<div id="editModal" class="modal fade" role="dialog" style="top:10%">
    <div class="modal-dialog">
        <!--<div class="modal-content">-->
        <div class="modal-body">
            <form action="#" class="credit-card-div">
                <div class="panel panel-default" style="box-shadow: 8px 8px 100px #2E455C;">
                    <div class="panel-heading">
                        <div class="row ">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <span class="help-block text-muted small-font" style="color:#2E455C"><b>Date</b></span>
                                <input class="form-control" type="text" placeholder="Date" ng-model="detail.date">
                            </div>
                            <!--<div class="col-md-12">
                                <span class="help-block text-muted small-font"> Date</span>
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup ng-model="detail.date" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn col-md-pull-4">
                                        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>-->
                        </div>
                        <div class="row ">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="help-block text-muted small-font"> Work Time</span>
                                <input class="form-control" type="text" placeholder="Work Time" ng-model="detail.workTime">
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <span class="help-block text-muted small-font">  Description</span>
                                <input class="form-control" type="text" placeholder="Description" ng-model="detail.description">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <span class="help-block text-muted small-font">  Team</span>
                                <select class="form-control" ng-model="detail.team" placeholder="Team"
                                        ng-options="team.id as team.name for team in teams"></select>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <img class="glyphicon glyphicon-calendar" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-6 pad-adjust col-md-push-3">
                                <input type="button" class="btn btn-danger" value="Delete" ng-click="deleteData()" />
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-6 pad-adjust col-md-push-1">
                                <input type="button" class="btn btn-success" value="New input" ng-click="newDetail()" />
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-6 pad-adjust col-md-offset-0">
                                <input type="submit" class="btn btn-info btn-block" value="Save data" ng-click="saveData()" />
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

