<div ng-controller="DeviceReservationController">
    <div class="row">
        <div class="form-group" style="display: inline">
            <label class="col-sm-1 control-label">Os Type</label>
            <div class="col-sm-2">
                <select class="form-control" ng-options="item as item for item in osType" ng-model="Type" ng-change="getDevices()"></select>
            </div>

            <label class="col-sm-1 control-label">Model</label>
            <div class="col-sm-4">
                <select class="form-control" ng-options="item as item for item in devices" ng-model="resourceName" ng-change="getParameters()"></select>
            </div>

            <div class="col-sm-2">
                <button type="button" class="btn btn-primary" ng-click="getReservations()" ng-show="showBtn">Show Calendar</button>
            </div>
        </div>
    </div>
    <div class="row" ng-show="deviceCharacteristics">

        <div class="col-md-4">
            <div class="callout-card primary">
                <div class="card-label">
                    <div class="label-text">
                        <p ng-repeat="item in reservations.characteristics" ng-init="setCharacteristics(item)">
                            <img src="{{images.iOS}}" ng-show="ios"/>
                            <img src="{{images.Android}}" ng-show="android"/>
                            <img src="{{images.iOS}}" ng-show="win"/>
                            {{item.value}}
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

