<div ng-controller="DeviceReservationController">
    <h2 id="welcome-title"> Device reservations </h2>
    <br />
    <div class="row col-md-offset-1">
        <div class="form-group" style="display: inline">
            <div class="col-sm-3">
                <label class="control-label">OS Type</label>
                <select class="form-control" ng-options="item as item for item in osType" ng-model="Type" ng-change="getDevices()"></select>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Model</label>
                <select class="form-control" ng-options="item as item for item in devices" ng-model="resourceName" ng-change="getParameters()"></select>
            </div>
            <div class="col-sm-2" style="padding-top:23px">                
                <button type="button" class="btn btn-warning" ng-click="getReservations()" ng-show="showBtn">Show Calendar</button>
            </div>
        </div>
    </div>
    <br />
    <div class="row" ng-show="deviceCharacteristics">
        <div class="col-md-offset-4 col-md-4">
            <div class="characteristics">
                <div class="col-md-4 deviceImage">
                    <p ng-show="mobile">
                        <img src="{{images.Mobile}}"/>
                    </p>
                    <p ng-show="tablet">
                        <img src="{{images.Tablet}}"/>
                    </p>
                </div>
                <div class="col-md-6">
                    <p ng-show="ios">
                        <img src="{{images.iOS}}" /> {{reservations.characteristics[1].value}}
                    </p>
                    <p ng-show="android">
                        <img src="{{images.Android}}" /> {{reservations.characteristics[1].value}}
                    </p>
                    <p ng-show="windows">
                        <img src="{{images.Windows}}" /> {{reservations.characteristics[1].value}}
                    </p>
                    <p style="padding-top:15px">
                        <img src="{{images.OsVersion}}" /> {{reservations.characteristics[2].value}}
                    </p>
                </div>
                    <p style="float:right; padding-top:85px;">
                        <i ng-show="permission.showAdmin" class="glyphicon glyphicon-pencil edit" ng-click="editDevice(reservations)"></i>
                    </p>
                
            </div>
        </div>
    </div>
   

    <div class="container container-top" ng-show="deviceCharacteristics"  style="margin-bottom:100px">
        <div class="tableContainer">
            <div date-picker type="weekly"></div>
            <br/>
            <div class="row1">
                <div class="roomName">Day/Hours</div>
                <div class="timeSpan">09:00</div>
                <div class="timeSpan">10:00</div>
                <div class="timeSpan">11:00</div>
                <div class="timeSpan">12:00</div>
                <div class="timeSpan">13:00</div>
                <div class="timeSpan">14:00</div>
                <div class="timeSpan">15:00</div>
                <div class="timeSpan">16:00</div>
            </div>

            <div ng-repeat="day in reservations.deviceTable.days">
                <div class="row1">
                    <div class="roomName">{{day.day}} </div>
                    <div ng-repeat="hour in day.hours">
                        <div class="timeSpan" device-res popover-placement="right" popover-trigger="mouseenter" popover="{{hour.personName}}">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>