<div class="panel">
    <div>
        <input type="button" value="Save data" ng-click="saveData()" />
        <input type="button" value="New engagement" ng-click="newEngagement()" />
        <hr>
    </div>
    <div class="label">Id:</div>
    <div class="text"><input type="text" ng-model="engagement.id"></div>
    <div class="label">Person:</div>
    <div class="text">
        <select ng-model="engagement.person"
                ng-options="person.id as person.firstName + ' ' + person.lastName for person in people"></select>
    </div>
    <div class="label">Team:</div>
    <div class="text">
        <select ng-model="engagement.team"
                ng-options="team.id as team.name for team in teams"></select>
    </div>
    <div class="label">Role:</div>
    <div class="text">
        <select ng-model="engagement.role"
                ng-options="role.id as role.name for role in roles"></select>
    </div>
    <div class="label">Start Date:</div>
    <div class="text"><input type="text" ng-model="engagement.startDate"></div>
    <div class="label">Time / weekly:</div>
    <div class="text"><input type="text" ng-model="engagement.time"></div>
</div>

<div class="panel">
    Filter: <input type="search" ng-model="selString">
    Order:
    <select ng-model="sortOrder">
        <option value="+teamName">Team Name</option>
        <option value="+roleName">Role Name</option>
        <option value="+personName">Person Name</option>
    </select>

    <div ng-repeat="item in engagements | orderBy: sortOrder | filter: selString">
        <hr><a href="#" ng-click="transfer(item)">{{ item.personName }}</a> {{ item.teamName }} {{ item.roleName }}
    </div>
</div>