
        <div class="row">
            </br></br>

            <h1> Free to assign</h1>

            <div class="container" ng-controller="AdminDashboardController">
              
                    <form id="accountForm" method="post" class="form-horizontal">
                        <ul class="nav nav-tabs" id="product-table">
                            <li>
                                <a href="#1" data-toggle="tab">Laptop</a>
                            </li>
                            <li>
                                <a href="#2" data-toggle="tab">Keyboard</a>
                            </li>
                            <li>
                                <a href="#3" data-toggle="tab">Mouse</a>
                            </li>
                            <li>
                                <a href="#4" data-toggle="tab">Monitor</a>
                            </li>

                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" id="1">
                                <table class="table table-condensed table-bordered table-striped volumes">
                                    <thead>
                                        <tr>
                                            <th>SN</th>
                                            <th>SSD/HDD</th>
                                            <th>Quantity</th>
                                            <th>RAM</th>
                                            <th>Price</th>
                                            <td>Assign</td>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>4786sesaer6</td>
                                            <td>SSD</td>
                                            <td>1 <input type="number" name="quantity" min="1" max="1"></td>
                                            <td>240</td>
                                            <td>1235,56</td>
                                            <td>
                                                <select>
                                                    <option value="assign">Assign</option>
                                                    <option value="order">Order</option>

                                                </select>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>478eraer6</td>
                                            <td>SSD</td>
                                            <td>2 <input type="number" name="quantity" min="1" max="2"></td>
                                            <td>240</td>
                                            <td>1235,56</td>
                                            <td>
                                                <select>
                                                    <option value="assign">Assign</option>
                                                    <option value="order">Order</option>

                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2123fdsf</td>
                                            <td>SSD</td>
                                            <td>1 <input type="number" name="quantity" min="1" max="1"></td>
                                            <td>240</td>
                                            <td>1235,56</td>
                                            <td>
                                                <select>
                                                    <option value="assign">Assign</option>
                                                    <option value="order">Order</option>
                                            </td>

                                            </select>
                                        </tr>
                                        <tr>
                                            <td>sasdar6</td>
                                            <td>SSD</td>
                                            <td>2 <input type="number" name="quantity" min="1" max="2"></td>
                                            <td>240</td>
                                            <td>1235,56</td>
                                            <td>
                                                <select>
                                                    <option value="assign">Assign</option>
                                                    <option value="order">Order</option>

                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>423424fsfsfg</td>
                                            <td>SSD</td>
                                            <td>2 <input type="number" name="quantity" min="1" max="2"></td>
                                            <td>240</td>
                                            <td>1235,56</td>
                                            <td>
                                                <select>
                                                    <option value="assign">Assign</option>
                                                    <option value="order">Order</option>

                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>4dafggas231</td>
                                            <td>SSD</td>
                                            <td>5 <input type="number" name="quantity" min="1" max="5"></td>
                                            <td>240</td>
                                            <td>1235,56</td>
                                            <td>
                                                <select>
                                                    <option value="assign">Assign</option>
                                                    <option value="order">Order</option>

                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>xdsgeg3q</td>
                                            <td>SSD</td>
                                            <td>5 <input type="number" name="quantity" min="1" max="5"></td>
                                            <td>240</td>
                                            <td>1235,56</td>
                                            <td>
                                                <select>
                                                    <option value="assign">Assign</option>
                                                    <option value="order">Order</option>

                                                </select>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                                <button onclick="myFunction()">OK</button>
                            </div>
                            <div class="tab-pane" id="2">
                                <table class="table table-condensed table-bordered table-striped volumes">
                                    <thead>
                                        <tr>
                                            <th>SN</th>
                                            <th>Type</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <td>Assign</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>2234fbfhjfj7</td>
                                            <td>test</td>
                                            <td>20</td>
                                            <td>28,85</td>
                                            <td>
                                                <select>
                                                    <option value="assign">Assign</option>
                                                    <option value="order">Order</option>

                                                </select>
                                            </td>

                                        </tr>

                                    </tbody>
                                </table>
                                <button onclick="myFunction()">OK</button>
                            </div>
                            <div class="tab-pane" id="3">
                                <table class="table table-condensed table-bordered table-striped volumes">
                                    <thead>
                                        <tr>
                                            <th>SN</th>
                                            <th>Type</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>Assign</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>2234fbfhjfj7</td>
                                            <td>test</td>
                                            <td>20</td>
                                            <td>28,85</td>
                                            <td>
                                                <select>
                                                    <option value="assign">Assign</option>
                                                    <option value="order">Order</option>

                                                </select>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>2234fbfhjfj7</td>
                                            <td>test</td>
                                            <td>20</td>
                                            <td>28,85</td>
                                            <td>
                                                <select>
                                                    <option value="assign">Assign</option>
                                                    <option value="order">Order</option>

                                                </select>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>2234fbfhjfj7</td>
                                            <td>test</td>
                                            <td>20</td>
                                            <td>28,85</td>
                                            <td>
                                                <select>
                                                    <option value="assign">Assign</option>
                                                    <option value="order">Order</option>

                                                </select>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>2234fbfhjfj7</td>
                                            <td>test</td>
                                            <td>20</td>
                                            <td>28,85</td>
                                            <td>
                                                <select>
                                                    <option value="assign">Assign</option>
                                                    <option value="order">Order</option>

                                                </select>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>2234fbfhjfj7</td>
                                            <td>test</td>
                                            <td>20</td>
                                            <td>28,85</td>
                                            <td>
                                                <select>
                                                    <option value="assign">Assign</option>
                                                    <option value="order">Order</option>

                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2234fbfhjfj7</td>
                                            <td>test</td>
                                            <td>20</td>
                                            <td>28,85</td>
                                            <td>
                                                <select>
                                                    <option value="assign">Assign</option>
                                                    <option value="order">Order</option>

                                                </select>
                                            </td>

                                        </tr>

                                    </tbody>
                                </table>
                                <button onclick="myFunction()">OK</button>
                            </div>
                            <div class="tab-pane" id="4">
                                <table class="table table-condensed table-bordered table-striped volumes">
                                    <thead>
                                        <tr>
                                            <th>SN</th>
                                            <th>Vendor</th>
                                            <th>Type</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>Assign</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>2234fbfhjfj7</td>
                                            <td>HP</td>
                                            <td>test</td>
                                            <td>20</td>
                                            <td>28,85</td>
                                            <td>
                                                <select>
                                                    <option value="assign">Assign</option>
                                                    <option value="order">Order</option>

                                                </select>
                                            </td>

                                        </tr>

                                        <tr>
                                            <td>2234fbfhjfj7</td>
                                            <td>HP</td>
                                            <td>test</td>
                                            <td>20</td>
                                            <td>28,85</td>
                                            <td>
                                                <select>
                                                    <option value="assign">Assign</option>
                                                    <option value="order">Order</option>

                                                </select>
                                            </td>

                                        </tr>

                                        <tr>
                                            <td>2234fbfhjfj7</td>
                                            <td>HP</td>
                                            <td>test</td>
                                            <td>20</td>
                                            <td>28,85</td>
                                            <td>
                                                <select>
                                                    <option value="assign">Assign</option>
                                                    <option value="order">Order</option>

                                                </select>
                                            </td>

                                        </tr>

                                        <tr>
                                            <td>2234fbfhjfj7</td>
                                            <td>HP</td>
                                            <td>test</td>
                                            <td>20</td>
                                            <td>28,85</td>
                                            <td>
                                                <select>
                                                    <option value="assign">Assign</option>
                                                    <option value="order">Order</option>

                                                </select>
                                            </td>

                                        </tr>

                                        <tr>
                                            <td>2234fbfhjfj7</td>
                                            <td>HP</td>
                                            <td>test</td>
                                            <td>20</td>
                                            <td>28,85</td>
                                            <td>
                                                <select>
                                                    <option value="assign">Assign</option>
                                                    <option value="order">Order</option>

                                                </select>
                                            </td>

                                        </tr>

                                    </tbody>
                                </table>
                                <button onclick="myFunction()">OK</button>
                            </div>

                        </div>
                    </form>

</div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
   