<div class="modal-dialog ">
    <!-- Modal content-->
    <div class="modal-content col-sm-offset-2 col-sm-8" id="nedimModal">
        <div class="modal-body">
            <div id="login">
                <div class="align-center">
                    <br>
                    <img src="images/mistrallogowhite.png" id="irmaimg" width="200px" height="100px" />
                </div>
                <br>
                <div class="panel" id="irmapanel" ng-show="!wait">
                    <label class="irmalabel">Username: </label>
                    <div><input type="text" class="form-control" ng-model="user.name"></div>
                    <label class="irmalabel">Password: </label>
                    <div>
                        <input type="password" class="form-control" ng-model="user.pass">
                    </div>
                    <br>
                    <div>
                        <input type="button" id="loginBtn" value="Login" class="btn btn-primary form-control" ng-click="login()" />
                        <br>
                        <br />
                        <input type="button" id="googleBtn" value="Login with Google" class="btn btn-success form-control" />
                    </div>

                    <div class="checkbox" id="irmalabel">Remember me <input style="margin-left:10px;" type="checkbox" ng-model="user.remember" /></div>
                </div>
                <div class="text" ng-show="!wait"></div>
                <div class="text text-center" ng-show="wait"><br><img src="images/loading.gif" /><br></div>
            </div>
        </div><br><br />
    </div>
</div>