<div class="panel" style="margin: 0 auto;">
    <div class="label">Username: </div>
    <div class="text"><input type="text" ng-model="user.name"></div>
    <div class="label">Password: </div>
    <div class="text"><input type="password" ng-model="user.pass"></div>
    <div class="label"></div>
    <div class="text" ng-show="!wait">
        <input type="button" id="loginBtn" value="Login" ng-click="tokenRequest()" />
        <input type="button" id="googleBtn" value="Login with Google" />
    </div>
    <div class="text" ng-show="!wait"></div>
    <div class="text" ng-show="wait"><img src="images/loading.gif" /></div>
</div>
