<script type="text/javascript">
    $(window).load(function(){
        $('#loginModal').modal('show');
        $('#loginModal').data('bs.modal').$backdrop.css({'opacity': '0.8', 'background-color': 'light-blue'});
    });
</script>

<div id="loginModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div ng-include="'views/loginModal.html'"></div>
</div>

<!--<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Username" name="username"  ng-model="user.name" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" value="" ng-model="user.pass">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me" ng-model="user.remember">Remember Me
                                </label>
                            </div>


                       </fieldset>

                        <div class="text" ng-show="!wait">
                            <input type="button" class="btn btn-lg btn-success btn-block" btn="loginBtn" value="Login" ng-click="login()" />
                            <input type="button" class="btn btn-lg btn-success btn-block" id="googleBtn" value="Login with Google" />
                        </div>
                        <div class="label" ng-show="!wait"></div>

                        <div style="clear:both"></div>
                        <div style="text-align:center"><img ng-src="{{ userImage }}"><br>{{ userName }}</div>
                </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>-->

