<style>
    .full button span {
        background-color: limegreen;
        border-radius: 32px;
        color: black;
    }

    .partially button span {
        background-color: orange;
        border-radius: 32px;
        color: black;
    }
</style>
<div class="alert alert-info col-md-4 col-md-offset-2" style="box-shadow: 8px 8px 100px #2E455C; margin-top:0%; left:20px">
    <div class="row ">
        <h1 style="font-family: Calibri" class="col-md-offset-1">
            Hello <b><h style="text-shadow: 1px 1px #2E455C; color:white">{{userName}}.</h></b><br />
            Welcome to your Dashboard.
        </h1>
    </div>
</div>


<div class="container-fluid col-md-5 col-md-offset-6" style="margin-top:0%; position:fixed; left:50px">
    <span style="box-shadow: 8px 8px 100px #2E455C">
        <button class="btn btn-info" value="Previous" ng-click="previous()">Previous</button>
        <span class="btn btn-info" style="width:75%;"> {{mont| monthName}} </span>
        <button class="btn btn-info" value="Next" ng-click="next()" style="width:63px">Next</button>  
        <span class="col-md-offset-0"><h class="badge" style="margin-top:10px; margin-right:5px">EMPTY DAYS</h><h class="badge col-md-offset-0" style="background-color:#60B72C; margin-top:10px">HOURS WORKED</h></span>
    </span>   

    <!--<span class="col-md-offset-7 col-md-11" style="right:-19px; padding:0">
        <input placeholder="Filter" class="form-control col-md-3" type="search" ng-model="selMonth" style="width:20%; height:20%; padding:0">
        <select class="form-control col-md-4" ng-model="sortOrder" style="width:20%; left:10px; height:30%; padding:0">
            <option value="+name">Person</option>
            <option value="+totalHours">Hours worked</option>
            <option value="-emptyDays">Nonentered days</option>
        </select>
    </span>-->

    <div ng-repeat="item in months | orderBy: sortOrder | filter: selMonth" style="margin:0">
        <ul class="list-group">
            <li class="list-group-item col-md-4">
                <span class="badge" style="background-color:#60B72C">{{ item.totalHours }} </span><span class="badge">{{item.emptyDays}}</span>
                <a ng-click="transfer(item); transfer1(item)">{{item.name}}</a>
            </li>
        </ul>
    </div>    
</div>



<div class="container-fluid unos form-horizontal">
         <div class="row col-md-4 col-md-offset-2 col-xs-11"  style="margin-top:0%; left:-9px; width:560px">

            <form action="#" class="credit-card-div col-xs-offset-0">
                <div class="panel panel-default" style="box-shadow: 8px 8px 100px #2E455C;">
                    <div class="panel-heading">
                        <h1 style="font-family:Calibri; color: #37ADE7; margin-top:-1%">Details<span class="glyphicon glyphicon-dashboard col-md-push-7" style="font-size:60px"></span></h1>
                        <div class="row">
                            <span class="control-label">Person:</span>
                            <span><input class="form-control" ng-model="month.name"></span>
                            <span class="control-label">Teams:</span>                          
                            <div ng-repeat="detail in month.details">
                                <ul class="list-group">
                                    <li class="list-group-item col-md-6">
                                        <label class="col-md-4 badge" style="background-color:#37ADE7">[{{ detail.category }}]</label> <span class="badge" style="background-color:#60B72C; margin-top:0">
                                            {{detail.count}} working hours
                                        </span>
                                    </li>
                                </ul>
                            </div>

                            <div style="width:100%" class="col-xs-12" ng-show="month.name">
                                <!--<span class="form-group">
                                    <b>Filter:</b> <input class="input-sm" type="search" ng-model="selDetail">
                                    <b>Order:</b> <select class="input-sm" ng-model="sortOrder">
                                        <option value="+description">Description</option>
                                        <option value="-date">Date</option>
                                    </select>
                                </span>-->
                                <div>
                                    <br />
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr style="background-color:#37ADE7;">
                                                <th width="30%">Description</th>
                                                <th width="30%">Date</th>
                                                <th width="20%">Work Time</th>
                                                <th width="20%">Team</th>
                                            </tr>
                                    </table>
                                </div>
                                <div ng-repeat="item in detailsBy | filter : monthName">
                                    <table class="table table-bordered">
                                        <tr><td data-toggle="modal" data-target="#editModal" width="30%"><b style="color:#4B627A">{{ item.description }}</b> </td><td width="30%"> {{ item.date| date:shortDate }}</td><td width="20%" style="color:#37ADE7; font-size:medium"> <b>{{item.workTime}}</b></td><td width="20%"> {{item.teamName}}</td></tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


