<div class="row">
    <h2 id="welcome-title">Recurring reservations</h2>
    <br/>
    <div class="col-md-offset-3 col-md-6">
        <ul class="timeline" ng-repeat="event in extendedEvents">
            <li>
                <div class="timeline-badge event"><i class="glyphicon glyphicon-calendar"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">{{event.eventTitle}}</h4>
                    </div>
                    <div class="timeline-body">
                        <p>
                            You have reservation for <b>{{event.resourceName}}</b> on <b>{{event.dayOfWeek}}</b> until <i class="glyphicon glyphicon-calendar"></i> {{event.repeatUntil}}.
                        </p>
                        <p>
                            <i class="glyphicon glyphicon-time"></i><b>Time</b> - {{event.eventTime}}
                        </p>
                        <p>
                            <b>Recurring type</b> - {{event.repeatingType}}
                        </p>
                        <div>
                            <hr />
                            <p class="options">
                                <i class="glyphicon glyphicon-pencil edit" ng-click="editExtended(event)"></i>
                                | <i class="glyphicon glyphicon-remove remove" ng-click="cancelRecurring(event)"></i>
                            </p>
                        </div>                       
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>