<!DOCTYPE html>
<html ng-app="school">

<head>
    <script src="../library/angular.min.js"></script>
    <script src="../scripts/controllers/resourceController.js"></script>
    <script src="../scripts/services/resourceService.js"></script>

    <style>
        .label {
            float: left;
            text-align: right;
            width: 45%;
            margin: 6px;
        }

        .text {
            float: left;
            width: 45%;
            margin: 6px;
        }

        .panel {
            width: 30%;
            float: left;
            margin: 6px;
            padding: 10px;
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <div ng-controller="ResourceController">
        <h1>{{ message }}</h1>
        <div class="panel">
            <div>
                <input type="button" value="Save data" ng-click="saveData()" />
                <input type="button" value="New resource" ng-click="newResource()" />
                <hr>
            </div>
            <div class="label">Id:</div>
            <div class="text"><input type="text" ng-model="resource.id"></div>
            <div class="label">Resource name:</div>
            <div class="text"><input type="text" ng-model="resource.name"></div>
            <div class="label">Resource status:</div>
            <div class="text"><input type="text" ng-model="resource.status"></div>
            <div class="label">Category</div>
            <div class="text"><input type="text" ng-model="resource.resourceCategory"></div>
            <div class="label">Resource category name:</div>
            <div class="text"><input type="text" ng-model="resource.resourceCategoryName"></div>
        </div>
        <div class="panel">
            Filter: <input type="search" ng-model="selResource">
            <!--Order: <select ng-model="sortOrder">
                <option value="+lastName">Last Name</option>
                <option value="+firstName">First Name</option>
                <option value="-phone">Phone number</option>
            </select>-->

            <div ng-repeat="item in resources | orderBy: sortOrder | filter: selResource">
                <hr><a href="#" ng-click="transfer(item)">{{ item.name }}</a> {{ item.status }} {{item.resourceCategory}} {{ item.resourceCategoryName }}
            </div>
        </div>
    </div>
</body>
</html>