<!DOCTYPE html>
<html ng-app="school">

<head>
    <script src="../library/angular.js"></script>
    <script src="../library/angular-route.js"></script>
    <script src="../scripts/app.js"></script>
    <script src="../scripts/controllers/ResourceController.js"></script>
    <script src="../scripts/services/DataService.js"></script>
    <link rel="stylesheet" href="../styles/style.css" />
</head>

<body>
    <div ng-controller="ResourceController">
        <h1>{{ message }}</h1>
        
        <div class="panel">
            Filter: <input type="search" ng-model="selResource">
            <!--Order: <select ng-model="sortOrder">
                <option value="categoryName">Device</option>
                <option value="categoryName">Room</option>
            </select>-->

            <div ng-repeat="item in resources | filter: selResource">
                <hr><a href="" ng-click="transfer(item)">{{ item.name }}</a>               
                <div ng-repeat="char in characteristics | filter: selResource" ng-if="char.resource == item.id && char.name == 'OsType'">
                    OS type: {{char.value}}
                </div>
            </div>

        </div>
        <div ng-show="showme" class="panel">
            <div>
                <input type="button" value="Create event" ng-click="createEvent()" />
                <hr>
            </div>
            <div class="label">Resource name:</div>
            <div class="text"><input type="text"  ng-model="eventReservation.resourceName" readonly ></div>
            <div class="label">Event Title:</div>
            <div class="text"><input type="text" ng-model="eventReservation.eventTitle"></div>
            <div class="label">Event Start</div>
            <div class="text"><input  type="date" ng-model="eventReservation.startDate"></div>
            <div class="label">Event End</div>
            <div class="text"><input type="date" ng-model="eventReservation.endDate"></div>          
        </div>
    </div>
</body>
</html>