<div class="container container-top">

    <h2 id="welcome-title"> Room Reservations </h2>
    <br />

    <div class="filterBtns">

        <button type="button" class="btn btn-primary" id="thisWeek">This week</button>
        <button type="button" class="btn btn-primary">Exact Date</button>
    </div>

    <div class="table-container">
        <div class="room-row">
            <div class="day-name"></div>
            <div class="timeSpan"> 9</div>
            <div class="timeSpan"> 10</div>
            <div class="timeSpan"> 11</div>
            <div class="timeSpan"> 12</div>
            <div class="timeSpan"> 13</div>
            <div class="timeSpan"> 14</div>
            <div class="timeSpan"> 15</div>
            <div class="timeSpan"> 16</div>
        </div>
        <div class="room-row" ng-repeat="room in reservations">
            <div class="room-name" data-toggle="popover">{{room.room.roomName}}</div>
            <div class="room-cell" ng-repeat="timeSlot in room.room.timeSlots" >&nbsp;</div>
        </div>           
    </div>