<div class="container container-top">
    
    <h2 id="welcome-title"> Room Reservations </h2>
    <br />
   

    <div class="row">
        <div class="col-md-4" ></div>
        <div class="col-md-4">
            <span class="roomNavButton"><a href="#/room/reservation">Daily</a></span>
            <span class="roomNavButton"><a href="#/room/reservation/weekly">Weekly</a></span>
        </div>
        <div class="col-md-4"> </div>
    </div>
    <br />
    
    <div date-picker type="daily"></div>
    <br />
    <div class="table-container">
        <div class="room-row">
            <div class="day-name"></div>
            <div class="timeSpan"> 9</div>
            <div class="timeSpan"> 10</div>
            <div class="timeSpan"> 11</div>
            <div class="timeSpan"> 12</div>
            <div class="timeSpan"> 13</div>
            <div class="timeSpan"> 14</div>
            <div class="timeSpan"> 15</div>
            <div class="timeSpan"> 16</div>
        </div>
        
        <div class="room-row" ng-repeat="room in reservations">            
            <div class="room-name" tooltip-directive tooltip-html-unsafe="{{tooltipContent}}" data-toggle="tooltip" data-placement="top">{{room.room.roomName}}<i ng-show="permission.showAdmin" class="glyphicon glyphicon-pencil edit" style="color:aliceblue; float:right" ng-click="editRoom(room.room)"></i></div>
            <div room-res class="room-cell" ng-repeat="timeSlot in room.room.timeSlots" popover-placement="right" popover-trigger="mouseenter" popover="{{timeSlot.personName}}">&nbsp;</div>
        </div>
    </div>
</div>