<div>
<form>
    <div class="form-group">

        <br>

        <label for="exampleInputEmail1">Asset</label>
        <select class="form-control" id="sel" ng-model="">
            <option value="1">Device</option>
            <option value="2">Office</option>

        </select>
        <div style='display:none;' id='sel1'>
            &nbsp;
            <label for="exampleInputEmail1">Device Type</label>
            &nbsp;
            <select class="form-control" id="dev">
                <option ng-repeat="item in assets" value="{{item.name}}"></option>

            </select>
        </div>
        <div style='display:none;' id='other'>
            <br />&nbsp;
            &nbsp;
            <input type='text' class='text' name='other' />

        </div>
        <div style='display:none;' id='sel2'>
            &nbsp;
            <label for="exampleInputEmail1">Equipment Type</label>
            &nbsp;<select class="form-control">
                <option>Chair</option>
                <option>Table</option>
                <option>Smartphone</option>
            </select>
        </div>


    </div>

    <label for="number">Quantity</label>

    <input type="number" id="replyNumber" min="1" data-bind="value:replyNumber" />

    <div class="form-group">
        <label for="exampleInputPassword1">Request Description</label>
        <textarea class="form-control" rows="1" id="comment"></textarea>
    </div>


    <div class="form-group">
        <label for="exampleInputPassword1">Request Message</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="submit" class="btn">counter</button>
</form>
</div>