<div class="row" ng-controller="UserDashboardController">
    <h2 id="welcome-title">Welcome {{dashboard.userName}}</h2>
    <div class="col-sm-6">
        <h3>Today reservations</h3>
        <p ng-if="dashboard.countToday > 1">
            <span class="label label-info"> {{dashboard.countToday}} </span><span> reservations </span>
        </p>
        <p ng-if="dashboard.countToday == 1">
            <span class="label label-info"> {{dashboard.countToday}} </span>  <span>  reservation </span>
        </p>
        <hr/>
        <div class="notice notice-today"ng-repeat="item in dashboard.todayReservations">
            <p>
                <i id="today-title">{{ item.eventTitle}}</i> <br/>
                You have reservation for <strong>{{ item.resourceName }}</strong> at <i class="glyphicon glyphicon-time"> </i> {{item.time}}
            </p>
        </div>
    </div>

    <div class="col-sm-6">
        <h3>Upcoming reservations</h3>
        <p ng-if="dashboard.countUpcoming > 1">
            <span class="label label-warning"> {{dashboard.countUpcoming}} </span>  reservations
        </p>
        <p ng-if="dashboard.countUpcoming == 1">
            <span class="label label-warning"> {{dashboard.countUpcoming}} </span>  reservation
        </p>
        <hr/>
        <div class="notice notice-upcoming" ng-repeat="item in dashboard.upcomingReservations">
            <p>
                <i id="upcoming-title">{{item.eventTitle}}</i> <br/>
                You have reservation for <strong>{{ item.resourceName }}</strong> on <i class="glyphicon glyphicon-calendar"> </i>{{item.startDate}}<br />
                at <i class="glyphicon glyphicon-time"> </i> {{item.time}}
            </p>
        </div>
    </div>
</div>