<div>
    <div class="row">
        <div class="col-lg-12">
            <br />
            <h3 class="irmatitle">User profile</h3>
            <hr />
            <br />
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
        
            <div class="form-group">
                <label for="exampleInputPassword1"> Name: </label>
                <label for="exampleInputPassword1"> {{dashboard.name}}</label>
            </div>
        </div>
    </div>
</div>