<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Assessment</h4>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <div>
                        <div ng-if="permissions.showAdmin" class="text-center">
                            <br ng-if="leftToAssess>0">
                            <label ng-if="leftToAssess>0">There are {{leftToAssess}} skills left to assess.</label>
                            <br>
                            <label>Are you sure you want to finish this assessment for {{assessments.fullName}}?</label>
                        </div>
                        <div ng-if="permissions.showUser" class="text-center">
                            <br>
                            <label>There are {{leftToAssessEmployee}} skills left to assess.</label>
                            <br>
                            <label>Are you sure you want to finish this assessment?</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-primary" ng-click="goToAssessment()">Yes</button>
        </div>
    </div>
</div>

