<div class="modal-dialog ">
    <!-- Modal content-->
    <div class="modal-content col-sm-offset-2 col-sm-8">
        <div class="modal-body">
            <div id="login">
                <div class="align-center">
                    <br>
                    <img src="images/mistrallogobig.png" width="200px" height="100px" />
                </div>
                <br>
                <div class="panel" ng-show="!wait">
                    <label>Username: </label>
                    <div><input type="text" class="form-control" ng-model="user.name"></div>
                    <label>Password: </label>
                    <div><input type="password" class="form-control" ng-model="user.pass"></div>
                    <div class="checkbox">Remember me <input type="checkbox" ng-model="user.remember" /></div>
                    <div>
                        <input type="button" id="loginBtn" value="Login" class="btn btn-primary form-control" ng-click="login()" />
                        <br>
                        <br />
                        <input type="button" id="googleBtn" value="Login with Google" class="btn btn-success form-control" />
                    </div>
                </div>
                <div class="text" ng-show="!wait"></div>
                <div class="text text-center" ng-show="wait"><br><img src="images/spinner.gif" /><br></div>
            </div>
        </div><br><br />
    </div>
</div>

