<div class="db-header clearfix">
    <div class="page-header-title"><span class="glyphicon glyphicon-cog"></span> Add New Category</div>
</div>

<div class="row">
<div class="form-horizontal">
    <br>
    <div class="form-group">
            <div class="control-label col-md-2 col-sm-2">Name</div>
            <div class="col-md-10">
                <div class="col-md-4">
                    <input class="form-control text-box single-line" type="text" />
                </div>
                <div class="col-offset-md-2 col-md-10">
                    <br>
                    <input type="button" value="Create" ng-click="newCategory()" class="btn btn-primary" />
                </div>
            </div>
        </div>
</div>
</div>