<div id="deleteSkillModal" class="modal fade" role="dialog">
    <div ng-include="'modals/deleteSkillModal.html'"></div>
</div>

<div id="deleteCategoryModal" class="modal fade" role="dialog">
    <div ng-include="'modals/deleteCategoryModal.html'"></div>
</div>

<div id="addSkillModal" class="modal fade" role="dialog">
    <div ng-include="'modals/addSkillModal.html'"></div>
</div>

<div class="db-header clearfix">
    <div class="page-header-title"><span class="glyphicon glyphicon-cog"></span> Edit Category</div>
    <div class="db-header-extra">
        <a href="" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addSkillModal">Add New Skill</a>
        <a href="" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteCategoryModal">Delete Category</a>
    </div>
</div>

<div id="content">
    {{ message }}
    <br>
    <div class="row">
        <div class="form-horizontal">
            <br>
            <div class="form-group">
                <div class="control-label col-md-2 col-sm-2">Name</div>
                <div class="col-md-10">
                    <div class="col-md-4">
                        <input class="form-control text-box single-line" type="text" ng-model="category.name" />
                    </div>
                    <div class="col-offset-md-2 col-md-10">
                        <br>
                        <input type="submit" value="Save" class="btn btn-primary" ng-click="updateCategory()" />
                    </div>
                </div>
            </div>

            <div ng-show="category.tools.length" class="col-md-8">
                <div class="panel-group panel panel-default">
                    <div class="panel-body">
                        <div ng-repeat="tool in category.tools">
                            {{tool.name}}
                            <span style="float:right">
                                <a style="color:black" data-toggle="modal" ng-click ="editSkill(tool)" data-target="#addSkillModal" ><span class="glyphicon glyphicon-edit"></span></a>
                                <a style="color:black" data-toggle="modal" ng-click ="editSkill(tool)" data-target="#deleteSkillModal"><span class="glyphicon glyphicon-trash"></span></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>