<div id="addNewEmployeeEducationModal" class="modal fade" role="dialog">
    <div ng-include="'views/modals/addEmployeeEducationModal.html'"></div>
</div>

<div id="deleteEmpQualModal" class="modal fade" role="dialog">
    <div ng-include="'views/modals/deleteEmpQualModal.html'"></div>
</div>

<div class="db-header clearfix">
    <div class="page-header-title"><span class="glyphicon glyphicon-edit"></span> Edit Qualifications</div>
    <div class="db-header-extra">
        <a href="" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addNewEmployeeEducationModal">Add New Qualification</a>
    </div>
</div>

<div id="content">
    {{ message }}
    <br>
    <div class="row">
        <div class="col-md-12">
            <div ng-repeat="education in educations" style="margin-bottom:5px">
                <div class="form-horizontal">
                    <input class="btn btn-default" type="text" value="{{educationTypes[education.type]}}" disabled>
                    <input class="btn btn-default" type="text" value="{{education.educationName}}" disabled>
                    <input ng-model="education.reference" ng-show="education.type == '3'" class="btn btn-default" type="text" value="{{education.reference}}">
                    <button ng-click="updateQualification(education)" ng-show="education.type == '3'" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-ok"></span></button>
                    <button class="btn btn-danger" type="button" ng-click="selectQualification(education)" data-toggle="modal" data-target="#deleteEmpQualModal"><span class="glyphicon glyphicon-trash"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-bottom-right'}"></toaster-container>

