<div class="db-header clearfix">
    <div class="page-header-title"><span class="glyphicon glyphicon-edit"></span> Edit Qualifications</div>
    <div class="db-header-extra"></div>
</div>

<div>
    <div id="content">
        <div class="row">
            <div class="col-md-12">
                {{educations}}
            </div>
            <div class="col-md-offset-8 col-md-2">
                <button class="btn btn-primary btn-sm" style="width:100%">Add New Qualification</button>
            </div>
            <div class="col-md-2">
                <form method="get" action="employeeSummary.html">
                    <button class="btn btn-primary btn-sm" style="width:100%">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
