
<div class="db-header clearfix">
    <div class="page-header-title"><span class="glyphicon glyphicon-user"></span> User</div>
    <div class="db-header-extra"></div>
</div>
<div>
    <div id="content">
        <div class="row">
            <div class="col-sm-offset-8 col-sm-4">
                <div class="btn-group" style="width:100%">
                    <button type="button" class="btn btn-primary" style="width:50%">Summary</button>
                    <button type="button" class="btn btn-primary" style="width:50%">Assessments</button>
                </div>
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-3">
                <div class="profile-user">
                    <table class="table-profile-user">
                        <tr>
                            <td>
                                <img src="../images/avatar.jpg" width="95px" height="95px">
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top" style="padding:10px">
                                <h4>{{ assessments.fullName }}</h4>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="profile-info">
                    <p class="profile-info-content1" style="padding:10px">Engagements</p>
                    <table class="table-profile">
                        <tr>
                            <td class="profile-info-label1">Team</td>
                            <td class="profile-info-label2">Role</td>
                        </tr>
                        <tr ng-repeat="engagement in assessments.engagements">
                            <td class="profile-info-content1">{{ engagement.team }}</td>
                            <td class="profile-info-content2">{{ engagement.role }}</td>
                        </tr>
                    </table>
                </div>
                <br>
            </div>
            <div class="col-md-4">
                <div id="selfAssessment" class="dashboard-window clearfix div-blue">
                    <div class="d-w-text-maximum">
                        <h4><span class="glyphicon glyphicon-ok"></span> Self Assessment</h4>
                        <hr />
                        Status: {{assessments.selfAssessment.status}}
                        <hr />
                        Last Completed: {{assessments.selfAssessment.lastCompleted}}
                        <hr />
                        Next Due: {{assessments.selfAssessment.nextDue}}
                        <br>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-md-5">
                <div id="supervisorAssessment" class="dashboard-window clearfix div-blue">
                    <div class="d-w-text-maximum">
                        <h4><span class="glyphicon glyphicon-ok"></span> Supervisor Assessment</h4>
                        <hr />
                        Status: {{assessments.supervisorAssessment.status}}
                        <hr />
                        Last Completed: {{assessments.supervisorAssessment.lastCompleted}}
                        <hr />
                        Next Due: {{assessments.supervisorAssessment.nextDue}}
                        <br>
                        <br>
                    </div>

                    <div class="col-md-offset-6">
                        <button class="btn btn-default" style="width:100%">Assess</button>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <hr>
        <div><h4>Assesment History</h4></div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>From</label>
                    <p class="input-group">
                        <input type="text" class="form-control" 
                               uib-datepicker-popup="{{format}}" 
                               ng-model="startDate"
              
                               is-open="popupStart.opened" 
                               datepicker-options="dateOptions" 
                               ng-required="true" 
                               close-text="Close" 
                               alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" 
                                    ng-click="openStart()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                    <br>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>To</label>
                    <p class="input-group">
                        <input type="text" class="form-control" 
                               uib-datepicker-popup="{{format}}" 
                               ng-model="endDate" 
 
                               is-open="popupEnd.opened" 
                               datepicker-options="dateOptions" 
                               ng-required="true" 
                               close-text="Close" 
                               alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" 
                                    ng-click="openEnd()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                    <br>
                </div>
            </div>
            <div class="col-md-3">
                <label>Skill</label>
                <select ng-change="getHistory()"
                        ng-model="selectedSkill" class="form-control"
                        ng-options="skill.id as skill.name for skill in assessments.availableSkills"></select>
                <br>
            </div>
            <div class="col-md-3">
                <div class="btn btn-primary" ng-click="getHistory()">Get History</div>
            </div>
            <br>
        </div>

            <div class="dashboard-window clearfix {{visibilityClass}}">
                <div class="d-w-text-maximum">
                    <div ac-chart="'line'"
                         ac-data="data"
                         ac-config="configChart"
                         class="chart">
                    </div>
                </div>
            </div>

    </div>
</div>


