<div class="db-header clearfix">
    <div class="page-header-title"><span class="glyphicon glyphicon-user"></span> User</div>
    <div class="db-header-extra"></div>
</div>


<div id="content">
    {{ message }}
    <br>
    <div class="row">
        <div class="col-sm-offset-8 col-sm-4">
            <div class="btn-group" style="width:100%">
                <button type="button" class="btn btn-primary" style="width:50%">Summary</button>
                <button type="button" class="btn btn-primary" style="width:50%">Assessments</button>
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-4">
            <div class="profile-user">
                <table>
                    <tr>
                        <td>
                            <img src="../images/avatar.jpg" width="95px" height="95px">
                        </td>
                        <td valign="top" style="padding:10px">
                            <h4>{{ summary.fullName }}</h4>
                            <p class="user_level_display">Employee</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="profile-info">
                <p class="profile-info-content1" style="padding:10px">Engagements</p>
                <table class="table-profile">
                    <tr>
                        <td class="profile-info-label1">Team</td>
                        <td class="profile-info-label2">Role</td>
                    </tr>
                    <tr ng-repeat="engagement in summary.engagements">
                        <td class="profile-info-content1">{{ engagement.team }}</td>
                        <td class="profile-info-content2">{{ engagement.role }}</td>
                    </tr>
                </table>
            </div>
            <br>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6" ng-repeat="skills in summary.skills" ng-if="skills.categoryName=='Programming Skills'">
                    <div id="programingskills" class="dashboard-window clearfix div-green">
                        <div class="d-w-text-maximum">
                            <h4><span class="glyphicon glyphicon-cog"></span> {{skills.categoryName}}</h4>
                            <table class="table">
                                <tr>
                                    <th></th>
                                    <th>Level</th>
                                    <th>Experience</th>
                                </tr>
                                <tr ng-repeat="skills in skills.skills">
                                    <td>{{ skills.skill }}</td>
                                    <td>{{ skills.level }}</td>
                                    <td>{{ skills.experience }}</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="col-md-6" ng-repeat="skills in summary.skills" ng-if="skills.categoryName=='Collaboration Tools'">
                    <div id="colaborationstools" class="dashboard-window clearfix div-yellow">
                        <div class="d-w-text-maximum">
                            <h4><span class="glyphicon glyphicon-cog"></span> {{skills.categoryName}}</h4>
                            <table class="table">
                                <tr>
                                    <th></th>
                                    <th>Level</th>
                                    <th>Experience</th>
                                </tr>
                                <tr ng-repeat="skills in skills.skills">
                                    <td>{{ skills.skill }}</td>
                                    <td>{{ skills.level }}</td>
                                    <td>{{ skills.experience }}</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="col-md-6" ng-repeat="skills in summary.skills" ng-if="skills.categoryName=='Languages'">
                    <div id="languages" class="dashboard-window clearfix div-red">
                        <div class="d-w-text-maximum">
                            <h4><span class="glyphicon glyphicon-cog"></span> {{skills.categoryName}}</h4>
                            <table class="table">
                                <tr>
                                    <th></th>
                                    <th>Level</th>
                                    <th>Experience</th>
                                </tr>
                                <tr ng-repeat="skills in skills.skills">
                                    <td>{{ skills.skill }}</td>
                                    <td>{{ skills.level }}</td>
                                    <td>{{ skills.experience }}</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="col-md-6" ng-repeat="skills in summary.skills" ng-if="skills.categoryName=='Project Management Tools'">
                    <div id="projectmanagementtools" class="dashboard-window clearfix div-blue">
                        <div class="d-w-text-maximum">
                            <h4><span class="glyphicon glyphicon-cog"></span> {{skills.categoryName}}</h4>
                            <table class="table">
                                <tr>
                                    <th></th>
                                    <th>Level</th>
                                    <th>Experience</th>
                                </tr>
                                <tr ng-repeat="skills in skills.skills">
                                    <td>{{ skills.skill }}</td>
                                    <td>{{ skills.level }}</td>
                                    <td>{{ skills.experience }}</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="col-md-6">
                    <div id="qualificatins" class="dashboard-window clearfix div-red">
                        <div class="d-w-text-maximum">
                            <h4><a href="editQualifications.html"><span class="glyphicon glyphicon-edit white-link"></span></a> Qualifications</h4>
                            <ul ng-repeat="x in summary.qualifications">
                                <li>{{ x.qualification }}</li>

                            </ul>
                        </div>
                    </div>
                    <br>
                </div>

                <div class="col-md-6">
                    <div id="pastProjects" class="dashboard-window clearfix div-yellow">
                        <div class="d-w-text-maximum">
                            <h4><span class="glyphicon glyphicon-time"></span> Past Projects</h4>
                            <ul ng-repeat="x in summary.pastProjects">
                                <li>{{ x.pastProject }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <br>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs navbar-right">
                <li ng-repeat="skills in summary.skills" class="active"><a data-toggle="tab" href="#home">{{ skills.categoryName }}</a></li>
            </ul>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <h3>Programming Skills</h3>
                    <p><img src="../images/skillsBarChart.jpg" /></p>
                </div>
            </div>
        </div>
    </div>
</div>
