<div class="db-header clearfix">
    <div class="page-header-title"><span class="glyphicon glyphicon-user"></span> User</div>
    <div class="db-header-extra"></div>
</div>


<div id="content">
    {{ message }}
    <br>
    <div class="row">
        <div class="col-sm-offset-8 col-sm-4">
            <div class="btn-group" style="width:100%">
                <button type="button" class="btn btn-primary" style="width:50%">Summary</button>
                <button type="button" class="btn btn-primary" style="width:50%">Assessments</button>
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-3">
            <div class="profile-user">
                <table class="table-profile-user">
                    <tr>
                        <td>
                            <img src="../images/avatar.jpg" width="95px" height="95px">
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" style="padding:10px">
                            <h4>{{ summary.fullName }}</h4>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="profile-info">
                <p class="profile-info-content1" style="padding:10px">Engagements</p>
                <table class="table-profile">
                    <tr>
                        <td class="profile-info-label1">Team</td>
                        <td class="profile-info-label2">Role</td>
                    </tr>
                    <tr ng-repeat="engagement in summary.engagements">
                        <td class="profile-info-content1">{{ engagement.team }}</td>
                        <td class="profile-info-content2">{{ engagement.role }}</td>
                    </tr>
                </table>
            </div>
            <br>
            <div ng-repeat="qualification in summary.qualifications">
            <div id="qualificatins" class="dashboard-window clearfix div-blue">
                <div class="d-w-text-maximum">
                    <h4><a href="editQualifications.html"><span class="glyphicon glyphicon-edit white-link"></span></a> Qualifications</h4>
                    <ul>
                        <li>{{ qualification.qualification }}</li>

                    </ul>
                </div>
            </div>
            </div>
            <br>
            <div ng-repeat="project in summary.pastProjects">
                <div id="pastProjects" class="dashboard-window clearfix div-blue">
                    <div class="d-w-text-maximum">
                        <h4><span class="glyphicon glyphicon-time"></span> Past Projects</h4>
                        <table class="table">
                            <tr>
                                <td>Project</td>
                                <td>Role</td>
                            </tr>
                            <tr>
                                <td>{{ project.description }}</td>
                                <td>{{ project.role }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="col-md-9">
            <div ng-repeat="skills in summary.skills">
                <div class="row">
                    <div class="col-md-12">
                        <div class="dashboard-window clearfix div-darkblue">
                            <div class="d-w-text-maximum">
                                <h4><span class="glyphicon glyphicon-cog"></span> {{skills.categoryName}}</h4><br>
                                <div class="col-md-4">
                                    <table class="table">
                                        <tr>
                                            <th></th>
                                            <th class="text-center">Level</th>
                                            <th class="text-center">Experience</th>
                                        </tr>
                                        <tr ng-repeat="skills in skills.skills">
                                            <td>{{ skills.skill }}</td>
                                            <td class="text-center">{{ skills.level }}</td>
                                            <td class="text-center">{{ skills.experience }}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-8">
                                    <div ac-chart="'bar'"
                                         ac-data="data[skills.categoryName]"
                                         ac-config="configChart[skills.categoryName]"
                                         class="chart">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br />
            </div>
        </div>
    </div>
</div>
