<div class="db-header clearfix">
    <div class="page-header-title"><span class="glyphicon glyphicon-search"></span> Find People</div>
    <div class="db-header-extra"></div>
</div>


<div id="content">
    {{ message }}
    <br>

    <!-- Search by Skill-->
    <div class="row" ng-repeat="criteria in searchCriteria track by $index">
        <div class="col-md-3">
            <form class="form-inline">
                <select ng-model="criteria.category" class="form-control" ng-change="selectCategory($index)"
                        ng-options="category as category.name for category in categories">
                </select>
            </form>
        </div>
        <div class="col-md-2">
            <form class="form-inline">
                <select ng-model="criteria.skill" class="form-control"
                        ng-options="skill.id as skill.name for skill in criteria.skills">
                </select>
            </form>
        </div>
        <div ng-hide="criteria.category.categoryType" class="col-md-2">
            <form class="form-inline">
                <select ng-model="criteria.level" class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </form>
        </div>
        <div ng-hide="criteria.category.categoryType" class="col-md-2">
            <form class="form-inline">
                <input ng-model="criteria.experience" type="number" placeholder="Years of Experience" onfocus="this.type='number';" class="form-control" min="0"/>
            </form>
        </div>
        <div>
            <button type="button" ng-click="removeCriteria($index)" class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>

    </div>
    <hr>

    <div class="row">
        <div class="col-md-12">
            <button ng-click="addCriteria()" class="btn btn-primary">Add More Criteria</button>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-offset-8 col-md-2">
            <button ng-click="findPeople()" class="btn btn-primary" style="width:100%">Find</button>
        </div>
        <div class="col-md-2">
            <button ng-click="resetCriteria()" class="btn btn-primary" style="width:100%">Reset</button>
        </div>
    </div>

    <div ng-show="exactMatches.length">
        <h4>Exact Matches</h4>
        <div class="row">
            <div ng-repeat="match in exactMatches" class="col-md-3">
                <div id="user" class="dashboard-window clearfix" style="background: #62acec; border-left: 5px solid #5798d1;">
                    <div class="d-w-text-maximum">
                        <a href="#/employeeSummary/{{match.employeeId}}" class="user_name_display white-link">{{match.fullName}}</a><br />
                    </div>
                </div>
            </div>
        </div><hr />
    </div>

    <div ng-show="closeMatches.length">
        <h4>Close Matches</h4>
        <div class="row">
            <div ng-repeat="match in closeMatches" class="col-md-3">
                <div id="user" class="dashboard-window clearfix" style="background: #62acec; border-left: 5px solid #5798d1;">
                    <div class="d-w-text-maximum">
                        <a href="#/employeeSummary/{{match.employeeId}}" class="user_name_display white-link">{{match.fullName}}</a><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
