<div class="db-header clearfix">
    <div class="page-header-title"><span class="glyphicon glyphicon-check"></span> Pending Assessments</div>
    <div class="db-header-extra"></div>
</div>

<div>
    <div>
        {{message}}
    </div>
    <br>
    <div ng-hide="message" id="content">

        <!-- Table -->
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <tbody>
                        <tr class="table-header">
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                        <tr ng-repeat="person in people">
                            <td><a href="#/employeeSummary/{{pendingAssessment.id}}">{{pendingAssessment.firstName}} {{pendingAssessment.lastName}}</a></td>
                            <td><a href="#/supervisorAssessment/{{pendingAssessment.id}}"><strong>Assess</strong></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

