<div id="addQualificationModal" class="modal fade" role="dialog">
    <div ng-include="'views/modals/addQualificationModal.html'"></div>
</div>

<div id="deleteQualificationModal" class="modal fade" role="dialog">
    <div ng-include="'views/modals/deleteQualificationModal.html'"></div>
</div>

<div class="db-header clearfix">
    <div class="page-header-title"><span class="glyphicon glyphicon-bookmark"></span> Qualifications</div>
    <div class="db-header-extra">
        <a href="" ng-click="clearQualification()" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addQualificationModal">Add New Qualification</a>
    </div>
</div>

<div id="content">
    {{ message }}
    
    <br>
    <div class="row">
        <div class="col-md-12">
            <div ng-repeat="qualification in qualifications | orderBy: sortOrder">
                <div class="panel-group panel panel-default">
                    <div class="panel-heading" ng-click="collapse(qualification.id)" data-toggle="collapse" data-target="#{{qualification.id}}">
                        <h4 class="panel-title">
                            <span>
                                <span class="{{icon[collapsed[qualification.id]]}}"></span>  {{ qualification.name }}
                            </span>
                        </h4>
                    </div>
                    <div id="{{ qualification.id }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div ng-repeat="education in qualification.educations | orderBy: sortOrder" class="db-header">
                                {{ education.name }}
                                <span style="float:right">
                                    <a style="color:black" data-toggle="modal" ng-click="editEducation(education)" data-target="#addQualificationModal"><span class="glyphicon glyphicon-edit"></span></a>
                                    <a style="color:black" data-toggle="modal" ng-click="editEducation(education)" data-target="#deleteQualificationModal"><span class="glyphicon glyphicon-trash"></span></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'position-class': 'toast-bottom-right'}"></toaster-container>