<div id="deleteSkillModal" class="modal fade" role="dialog">
    <div ng-include="'modals/deleteSkillModal.html'"></div>
</div>


<div id="addQualificationModal" class="modal fade" role="dialog">
    <div ng-include="'modals/addQualificationModal.html'"></div>
</div>

<div class="db-header clearfix">
    <div class="page-header-title"><span class="glyphicon glyphicon-bookmark"></span> Qualifications</div>
    <div class="db-header-extra">
        <a href="" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addQualificationModal">Add New Qualification</a>
        <a href="" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteQualificationModal">Delete Qualification</a>
    </div>
</div>

<div id="content">
    {{ message }}
    <br>
    <div class="row">
        <div class="col-md-12">
            BICE BICE
        </div>
    </div>
</div>
