<div class="db-header clearfix">
    <div class="page-header-title"><span class="glyphicon glyphicon-bookmark"></span> Qualifications</div>
    <div class="db-header-extra">
        <a href="" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#">Add New Qualification</a>
        <a href="" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#">Delete Qualification</a>
    </div>
</div>

<div id="content">
    {{ message }}
    <br>
    <div class="row">
        <div class="col-md-12">
            <div ng-repeat="education in educations | orderBy: sortOrder">
                <div class="panel-group panel panel-default">
                    <div class="panel-heading" ng-click="collapse(education.type)" data-toggle="collapse" data-target="#{{education.type}}">
                        <h4 class="panel-title">
                            <span>
                                <span class="{{icon[collapsed[education.type]]}}"></span>  {{ education.name }}
                            </span>
                        </h4>
                    </div>
                    <div id="{{ education.type }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div ng-repeat="education in educations | orderBy: sortOrder">
                                {{ education.name }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
