<div class="db-header clearfix">
    <div class="page-header-title"><span class="glyphicon glyphicon-user"></span> Teams</div>
    <div class="db-header-extra"></div>
</div>

<div id="content">
    {{ message }}
    <br>
    <div class="row">
        <div class="col-md-12">
            <uib-tabset active="activeJustified" justified="true">
                <uib-tab ng-repeat="team in teams" heading="{{ team.name }}"><br>
                    <div class="col-md-3">
                        <div>
                            <h4>Required skills:</h4>
                            <table class="table table-bordered">
                                <tr class="table-header">
                                    <th>Skill</th>
                                    <th>Level</th>
                                </tr>
                                <tr ng-repeat="skill in team.requiredSkills">
                                    <th> {{ skill.skill }}</th>
                                    <th> {{ skill.level }}</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div ng-repeat="category in team.skills">
                            <uib-accordion>
                                <uib-accordion-group is-open="status.open">
                                    <uib-accordion-heading>
                                        <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-up': status.open, 'glyphicon-chevron-down': !status.open}"></i><p>{{category.categoryName}}</p>
                                    </uib-accordion-heading>
                                    <table class="table table-bordered">
                                        <tr class="table-header">
                                            <th></th>
                                            <th ng-repeat="member in team.members"> {{ member.firstName }} {{ member.lastName }}</th>
                                            <th>Average</th>
                                        </tr>
                                        <tr ng-repeat="availableSkill in category.availableSkills">
                                            <th>{{ availableSkill.name }}</th>
                                            <td ng-repeat="member in team.members">{{category.skills[availableSkill.id].memberSkills[member.id].level}}</td>
                                            <th>{{category.skills[availableSkill.id].averageLevel | number:1}}</th>
                                        </tr>
                                        <tr>
                                            <th>Average</th>
                                            <td ng-repeat="member in team.members">{{category.employeeSkillAverage[member.id] | number:1}}</td>
                                            <th>{{category.avgSkillLevel | number:1}}</th>
                                        </tr>
                                    </table>
                                </uib-accordion-group>
                            </uib-accordion><br />
                            
                        </div>
                        <br>
                        <!--<div ng-repeat="category in team.skills">
                            <div class="panel-group panel panel-default">
                                <div class="panel-heading" ng-click="collapse(category.categoryName)" data-toggle="collapse" data-target="#{{team.name}} {{category.categoryName}}">
                                    <h4 class="panel-title">
                                            <span class="{{icon[collapsed[category.categoryName]]}}"></span>  {{ category.categoryName }}
                                    </h4>
                                </div>
                                <div id="{{team.name}} {{category.categoryName }}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <table class="table table-bordered">
                                            <tr class="table-header">
                                                <th></th>
                                                <th ng-repeat="member in team.members"> {{ member.firstName }} {{ member.lastName }}</th>
                                                <th>Average</th>
                                            </tr>
                                            <tr ng-repeat="availableSkill in category.availableSkills">
                                                <th>{{ availableSkill.name }}</th>
                                                <td ng-repeat="member in team.members">{{category.skills[availableSkill.id].memberSkills[member.id].level}}</td>
                                                <th>{{category.skills[availableSkill.id].averageLevel | number:1}}</th>
                                            </tr>
                                            <tr>
                                                <th>Average</th>
                                                <td ng-repeat="member in team.members">{{category.employeeSkillAverage[member.id] | number:1}}</td>
                                                <th>{{category.avgSkillLevel | number:1}}</th>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                

                            </div>
                            </div>-->

                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>