body {
    padding-top: 150px;
    padding-bottom: 20px;
    
    
   
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}




.navbar-default {
    background-color: #273547;
    
}

.navbar-nav li:hover {
    background-color: white;
    color:white;
    
}

.navbar-nav li:active {
    background-color: #04c4bb;
    
}


.dropdown-menu li:hover{
    height: 26px;
} 


.navbar-default .navbar-nav > li > a {
   color:#F2AE75;

}

.navbar-nav {
   font-family: 'Oswald', sans-serif;
   font-size: 16px;
   text-transform: uppercase;
   color:white; 
   letter-spacing: 1px;
    
}

.title{
    font-size: 24px;
    padding-top:9px;
    position:fixed;
    right:50px;
    letter-spacing: 2px;
    text-transform:lowercase;
}

#img_logo{
    margin-top: -12px;
}

.table-content .form-control {
        height: 30px;
        padding: 2px;
        padding-left: 5px;
        overflow:auto;
    }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    
    margin: 0; 
}

input[type=number] {-moz-appearance: textfield;}

.btn-info{
    background-color:#273547;
    font-family: 'Oswald', sans-serif;
}

.row{
    margin-top:3px;
}

#footer{
    position:fixed;
    bottom: 0px;
    color: #F2AE75;   
}

.form{
    margin-top:-300px;
    color: rgba(229, 103, 23, 0.6);
}

.form1{
   margin-top:-260px;
   margin-left: 400px;
    
}

.username{
color: rgba(229, 103, 23, 0.6);
}

.btn-default{
    background-color:#273547;
    color:white;
    font-family: 'Oswald', sans-serif;
    }

.btn-default:hover{
    background-color:#04c4bb;
}

.name{
    text-align:center;
    display:block;
}

.a:link{
    color:#273547;
}

.welcome{
    margin-top: -200px;
}

.logo{
    margin-top:-130px;
    /*margin-left: 600px;*/
}

.links{
    color: rgba(229, 103, 23, 0.8);
}

.landing{
    margin-top:-170px;
}

.create{
    margin-top: -100px;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus .dropdown-menu:focus {   
    border-color: rgba(229, 103, 23, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
    outline: 0 none;
}
.select:active, .select:hover {
  outline-color: rgba(229, 103, 23, 0.8);
}

/*.quote{
    margin-top: -180px;
}*/



/*.table-content {
    text-align: center;
    margin-top:10px;
}

    .table-content .row {
        min-height: 32px;
    }

    .table-content .form-control {
        height: 30px;
        padding: 2px;
        padding-left: 5px;
    }
    .table-content button {
        background-color:#99BFE6;
    }
h2 {
    color:#99BFE6;
}
.navbar-default {
    background-color: #99BFE6;
    text-decoration-color: black;
    margin-top: 0px;
}

/*.navbar-nav {
    margin-top: 12px;
    padding-top: 0px;
}*/

/*.navbar-brand {
    padding-top: 0px;
}

.navbar-nav li:hover {
    background-color: #d3d3d3;
}

.container .table-content:nth-child(n+2) .row:first-child {
    display: none;
}

.total-row .col-sm-1{
    padding: 0;
    margin-top: 5px;
}

.navbar-nav #profile {
    margin-left:600px;
    font-weight:bold;
    
}
#logout {
font-weight:bold;
}*/

