.label {
    float: left;
    text-align: right;
    width: 45%;
    margin: 6px;
}

.text {
    float: left;
    width: 45%;
    margin: 6px;
}

.panel {
    width:30%;
    float:left;
    margin:6px;
    padding:10px;
    border:1px solid black;
}
