/* css style for Beta _layout */
.header { background-color: #01AB8E; padding:0px !important}
.navbar-nav li:hover a { background-color: #01AB8E !important;}
.navbar-brand { padding: 5px 1px 1px 10px !important;}

.container-top {
	padding-top: 60px;
}

.navbar {
	border: 0px;   
	border-style: none;
	box-shadow: none;                                              
}

.navbar .navbar-collapse, .navbar-default .navbar-form {
	background-color: #01AB8E;
	border-style:none;
}

.navbar .navbar-nav>li>a {
    color: #fff;
}

.navbar-brand, .navbar-nav>li>a {
    text-shadow: 0 0px 0 #00BF9F;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #01AB8E;
}

.bs-example-navbar-collapse-1 .collapse .navbar-collapse {
	border: none;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #009179;
}

#logo{
	height: 50px;
}

.dropdown .dropdown-menu{
	border: none;
    background-color: #01AB8E;
    color: #fff;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.dropdown-menu > li > a {
    color: #fff;
}

.deviceTitle{
    font-family:Arial;
    color:#01AB8E;
    font-size:25px;
    width:300px;
    margin:0 auto;
    margin-top:70px;
    text-align:center;
}
.typeContainer{
    width:auto;
    margin: 0 auto;
    margin-top:10px;
    margin-bottom:30px;
}

.type{
    font-family:Arial;
    font-size:18px;
    /*padding-left:400px;*/
    margin:0 auto;
    margin-top:25px;
    display:inline-block;
}

/*style for user reservations*/
.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}

.notice-upcoming {
    border-color: #FEAF20;
	background-color: #fcf8f2;
}
#today-title {
    color: #45ABCD;
    font-weight: bold;
}
.notice-today {
    border-color: #45ABCD;
    background-color: #f4f8fa;
}
#upcoming-title {
    color: #F8A519;
    font-weight: bold;
}

#welcome-title{
	text-align: center;
	color: #01AB8E;
}

/* login design */
.mainbox{
    margin-top:50px;
}

.panel-body {
    padding-top:30px
}

.panel-info > .panel-heading {
  color: #333;
  background-color: #01AB8E;
  border-color: #ddd;
}

.form-group {
    margin-top:10px
}

.input-group {
    margin-bottom: 25px
}

/* device characteristics */
.characteristics {
  padding: 15px;
  background: #fafafa;
  border-left: 6px solid #01AB8E;
  border-right: 6px solid #01AB8E;
  -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
  margin: 1rem 0;
  overflow: hidden;
}

.deviceImage{
    margin-top: 25px;
    display: inline-block;
    vertical-align: middle;
}

.tableContainer{
    float:left;
    width:100%;
    height:auto;
    display:table;
}

.roomName{
    display:inline-block;
    float:left;
    background-color:deeppink;
    width:20%;
    height:40px;
    border:solid 1px white;
    text-align:center;
    justify-content: center;
    align-items: center; 
    background-color:#01AB8E;
    color:#FFFFFF;
    text-align:center;
    vertical-align:middle;
    line-height:40px;
}

.timeSpan{
    display:inline-block;
    float:left;
    width:10%;
    height:40px;
    background-color:transparent;
    border:solid 1px #e0e0d1;
    text-align:center;
    padding-left:2px;
    color:#3475CD;
    text-align:center;
    vertical-align:middle;
    line-height:40px;
}

.row1{
    display:inline-block;
    float:left;
    width:100%;
    display:table;  
    background-color:transparent;
    min-height:40px;
    height:auto;
}

.container-top {
	padding-top: 60px;
}

/* recurring reservations timeline */
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 25px;
  margin-right: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: calc( 100% - 75px );
  float: right;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  left: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-right: 15px solid #ccc;
  border-left: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  left: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-right: 14px solid #fff;
  border-left: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 0px;
  margin-right: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline-badge.event {
  background-color: #293D55 !important;
}

.options {
    text-align: right;
    color: #293D55;
}

.remove {
    color: #d9534f;
}

.edit {
    color: #5bc0de;
}

/* date calendar */
.date-body{
  background-color: #F8A519;padding-bottom: 5px;
}
.date-body .date-title{
  color: white;
}

.date-body .date-content{
  background-color: white;margin-left: 5px;margin-right: 5px;
}
.date-body .date-content p.dia{
  margin: 0; font-size: 45px; font-weight: bold;
}
.nomargin{
  margin: 0;
}

.row-date {
    position: absolute;
    right: 30px;
}

.room-cell{
    display:inline-block;
    float:left;
    max-width:2.5%;
    min-width:2.5%;
    height:100%;
    background-color:transparent;
    border: 1px solid #e0e0d1;
    overflow:no-content;
 }

 .room-name{
    display:inline-block;
    float:left;
    background-color:deeppink;
    width:20%;
    height:100%;
    border:solid 1px white;
    text-align:center;
	justify-content: center;
	align-items: center; 
	background-color:#d6e2f5;
	color:#3475CD;
 }

 .day-name{
	text-align:center;
	justify-content: center;
	align-items: center; 
	background-color:transparent;
	color:white;
    display:inline-block;
    float:left;
    width:20%;
    height:100%;
    border:solid 1px white;
 }

 .table-container {
    float: left;
    width: 100%;
    height: auto;
    display: table;
}

 .room-row{
    display:inline-block;
    float:left;
    width:100%;
    display:table;  
    background-color:transparent;	
 }