.body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.label {
    float: left;
    text-align: right;
    width: 45%;
    margin: 6px;
}
.print-area {
    border:1px none;
    padding:1em;
    margin:0 0 1em
}

/*.cootabela{
    background-color: #2E455C;
}*/

tr.spaceUnder > td
{
  padding-bottom: 2px;
}

.text {
    float: left;
    width: 45%;
    margin: 6px;
    font-family: monospace;
}

.panel {
    width:100%;
    float:left;
    margin:6px;
    padding:10px;
    
}

body {
    background:no-repeat fixed;
    padding-top: 150px;
    padding-bottom: 20px;
    background-image: url('../images/photo1.jpg');
    /*background-image: url('../images/buildings.jpg');*/
    background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.tabela{
    margin-top: -700px;
}


.navbar-default {
    background-color: #273547;
    margin-bottom: 0;
    
}

.navbar-nav li:hover {
    background-color: white;
    color:white;    
}

.unos{
    margin-top:-7%;
}

.dashboard{
    margin-top:-7%;
}

.navbar-nav li:active {
    background-color: #04c4bb;
    
}


.dropdown-menu li:hover{
    height: 26px;
} 


.navbar-default .navbar-nav > li > a {
   color:#F2AE75;
}



.navbar-nav {
   font-family: 'Oswald', sans-serif;
   font-size: 16px;
   text-transform: uppercase;
   color:white; 
   letter-spacing: 1px;
   margin-bottom: 0;
    
}

.title{
    font-size: 24px;
    padding-top:9px;
    position:fixed;
    right:50px;
    letter-spacing: 2px;
    text-transform:lowercase;
}

#img_logo{
    margin-top: -12px;
}

.table-content .form-control {
        height: 30px;
        padding: 2px;
        padding-left: 5px;
        overflow:auto;
    }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    
    margin: 0; 
}

input[type=number] {-moz-appearance: textfield;}

.btn-info{
    background-color:#273547;
    font-family: 'Oswald', sans-serif;
}

.row{
    margin-top:3px;
}

#footer{
    position:fixed;
    bottom: 0px;
    color: #F2AE75;   
}

.form{
    /*margin-top:-300px;*/
    color: rgba(229, 103, 23, 0.6);
}


.form1{
   margin-top:-260px;
   margin-left: 400px;
    
}

.username{
color: rgba(229, 103, 23, 0.6);
}

.btn-default{
    background-color:#273547;
    color:white;
    font-family: 'Oswald', sans-serif;
    }

.btn-default:hover{
    background-color:#04c4bb;
}

.name{
    text-align:center;
    display:block;
}

.a:link{
    color:#273547;
}

.welcome{
    margin-top: -200px;
}

.logo{
    margin-top:-130px;
    /*margin-left: 600px;*/
}

.links{
    color: rgba(229, 103, 23, 0.8);
}

.landing{
    margin-top:-170px;
}

.create{
    margin-top: -150px;
}

.date-picker {
    float: right;
    padding-right: 270px;
    display:inline-block;
    min-height:290px;  
    color: #37ADE7;
    margin-top: 170px;
}

.date-picker .btn-default {
    width:100px;
    height: 60px;
    font-size: 18px;    
    background-color: white;
     color: #37ADE7;
}

.date-picker .uib-title {
    width: 600px;
    font-size: 25px;
    background-color: white;
    color:#37ADE7;
}

.uib-weeks{
    color:#37ADE7;
    font-size: 14px;
    font-weight:bold;
    background-color:white;
}

.day-modal-content .row {
    margin: 0;
}

.day-modal-content .row:first-child {
    margin-top: 11px;
    text-align: center;
}
.day-modal-content .row:nth-child(n+1){
    margin-top: 7px;
}
    .day-modal-content .row:nth-child(n+1) .form-group >label {
        width: 125px;
        line-height: 35px;
        margin-left: 135px;
    }

.day-modal-content .row:first-child >span {
    font-size: 18px;
    font-weight: bold
}

.day-modal-content .row .form-group >label {
    font-size: 16px;
    float: left;
}

.day-modal-content .row .form-group >input,
 ay-modal-content .row .form-group >select {
    float: left;
}

/*textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus .dropdown-menu:focus {   
    border-color: rgba(229, 103, 23, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
    outline: 0 none;
}
.select:active, .select:hover {
  outline-color: rgba(229, 103, 23, 0.8);
}*/

::-webkit-input-placeholder {
   color: #37ADE7;
   font-weight:bold;
   text-transform:uppercase;
}

:-moz-placeholder { /* Firefox 18- */
   color: #37ADE7;  
   font-weight:bold;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #37ADE7; 
   font-weight:bold; 
}

:-ms-input-placeholder {  
   color: #37ADE7;  
   font-weight:bold;
}
.social-login{
  width: 150%;
  padding: 10px 0 15px 0;
  
}
.social-login span{
  width:calc(40% - 8px);
  color: #fff;
  border: 1px solid rgba(0,0,0,0.05);
  padding: 12px;
  border-radius: 2px;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 3%;
  text-align:center;
  cursor:pointer;
}
.social-login span i{
  width: 20px;
  top: 2px;
}
.social-login span:first-child{
  background-color: #49639F;
}
.social-login span:last-child{
  background-color: #DF4A32;
}
.mjesec {
    /*border: 2px solid white;*/
    background-color:white;
    width: 883px;
    display: table;
    opacity:0.8;
}
.dan {
    border: 1px solid white;
    border-right-width:0px;
    background-color: white;
    color: #37ADE7;
    width: 126px;
    height: 70px;  
    float: left;
    font-size:24px;
    text-align:center;
    text-shadow: 5px black;
    display: table-cell;
    line-height:2.7em;
    cursor:pointer;
    
}

.dan:hover{
    background-color:#37ADE7;
    color:white;
}
.skip{   
    background-color: transparent;
    /*margin: 2px;*/
    width: 126px;
    height: 70px;  
    float: left;
}

.weekdays{
    background-color: white;
    color: #37ADE7;
    /*margin: 2px;*/
    width: 126.2px;
    height: 50px;  
    float: left;
    font-size:24px;
    text-align:center;
    opacity:0.8;
    border-bottom: 1px solid #37ADE7;	
}
