body {

}

table#dataTables-example td {
   word-wrap: break-word;
   min-width: 125px;
   max-width: 125px;
   white-space:normal;
}

table#dataTables-example th {
    background-color: #4CAF50;
    color: white;
}

#table-panel{
    border:0.5px solid grey;
}

#table-heading{
    font:bold 16px arial, verdana;
    color: black;
}

#nedimModal{
    position:relative;
    right:110%;
    
}

#status-select{
    width:110px;
}