body {

}

table#dataTables-example td {
   word-wrap: break-word;
   min-width: 100px;
   max-width: 100px;
   white-space:normal;
}

table#dataTables-example th {
    background-color:#92C8D8;
    color:#292929;
}

#table-panel{
    border:0.5px solid grey;
}

#table-heading{
    font:bold 16px arial, verdana;
    color: black;
}

#nedimModal{
    position:relative;
    right:110%;
    background-color:#1F2F3E;
        border-style: solid;
    border-color: #59B3D2
    
}


#irmapanel{
  
    background-color:#1F2F3E;
    
}


.irmalabel{
  
    color:white;
        font-weight: normal;
    
}

#irmalabel{
    color:white;
        margin-left: -15px;
}

#irmaimg{

  vertical-align: middle;
    margin-left: 40px;
}
#status-select{
    width:95px;
}